html, body {
    background-color: #ffffff;
    color: #000000;
}

tr#notMandatoryRow, tr#addressBlock, tr#userInfoBlock, tr#contactBlock, tr#spacer1, tr#spacer2, tr#spacer3, tr#spacer4 {
    display: none;
}
.frm_box {
    border-style: solid;
    border-color: #FFF;
    border-width: 1px;
    background-color: #FFF;
}

input, select {
    color: #000000;
    background-color: #ffffff;
}

a:link {
    color: #000000;
}

a:visited {
    color: #000000;
}

a:hover {
    color: #000000;
}

a:active {
    color: #000000;
}

a:focus {
    color: #000000;
}

.bar {
    display: none;
}

select#paymentMethod {
    display: none;
}

#paymentSelection {
    display: none;
}

td.buttonRight {
    width: 100%;
}

input#send, input#continue {
    font-size: 12px;
    font-weight: 700;
    display: inline-block;
    text-decoration: none;
    color: #777;
}

input#send, input#continue {
    background: #84df54;
	background-image: -webkit-linear-gradient(top, #84df54, #00c900);
	background-image: -moz-linear-gradient(top, #84df54, #00c900);
	background-image: -ms-linear-gradient(top, #84df54, #00c900);
	background-image: -o-linear-gradient(top, #84df54, #00c900);
	background-image: linear-gradient(to bottom, #84df54, #00c900);
    background-position: 0 -160px;
    color: #fff;
    border: solid #00a000 1px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    letter-spacing: 1px;
    display: inline-block;
    text-decoration: none;
    padding: 6px 12px 3px;
}

input#send:hover, input#continue:hover {
background: #00c900;
  text-decoration: none;
}

input#cancel, input.btn {
    background: #ffffff;
	background-image: -webkit-linear-gradient(top, #ffffff, #f7f6f6);
	background-image: -moz-linear-gradient(top, #ffffff, #f7f6f6);
	background-image: -ms-linear-gradient(top, #ffffff, #f7f6f6);
	background-image: -o-linear-gradient(top, #ffffff, #f7f6f6);
	background-image: linear-gradient(to bottom, #ffffff, #f7f6f6);
    border: solid #CAC9C9 1px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    color: #777;
    text-decoration: none;
    padding: 5px 5px 4px;
    display: inline-block;
    cursor: pointer;
    padding: 5px 8px 4px;
}

input#cancel:hover, input.btn:hover {
    background: #dfdfdf;
  text-decoration: none;
}


