@CHARSET "UTF-8";

.selected_element td{
	background-color:#5cb85c !important;
	color: #ffffff;
}

.removeBtn{
	display:none;
}

.selected_element td .removeBtn{
	display:inline-block;
}

.selected_element td .addBtn{
	display:none;
}