.form-control {
  display: block;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,0.6);
}
.form-control::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #999;
}
.form-control::-webkit-input-placeholder {
  color: #999;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  cursor: not-allowed;
  background-color: #eeeeee;
  opacity: 1;
}
textarea.form-control {
  height: auto;
}
ul.flex-presets {
  display: block;
}
ul.flex-presets li {
  display: inline;
}
ul.flex-presets li a {
  display: block;
  width: 40px;
}
ul.flex-presets li:last-child {
  width: 80px;
  height: 40px !important;
}
ul.colors {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
  display: block;
}
ul.colors li {
  display: inline-table;
  width: 20%;
  border: none;
  margin: 0 1.7% 3%;
  padding: 0;
}
ul.colors li a img {
  box-shadow: 0 0 8px rgba(0,0,0,0.3);
}
ul.colors li a:hover img {
  box-shadow: 0 0 0px 1px rgba(155,155,155,0.3);
}
.checkbox label {
  color: #595959;
}
.checkbox label input {
  margin-top: 6px;
}
.major_color_bckg-100 {
  background-color: #16b99a;
}
.major_color_bckg-90 {
  background-color: rgba(22,185,154,0.9);
}
.major_color_bckg-80 {
  background-color: rgba(22,185,154,0.8);
}
.major_color_bckg-70 {
  background-color: rgba(22,185,154,0.7);
}
.major_color_bckg-60 {
  background-color: rgba(22,185,154,0.6);
}
.major_color_bckg-50 {
  background-color: rgba(22,185,154,0.5);
}
.major_color_bckg-40 {
  background-color: rgba(22,185,154,0.4);
}
.major_color_bckg-30 {
  background-color: rgba(22,185,154,0.3);
}
.major_color_bckg-20 {
  background-color: rgba(22,185,154,0.2);
}
.major_color_bckg-10 {
  background-color: rgba(22,185,154,0.1);
}
.black_bckg-90 {
  background-color: rgba(0,0,0,0.9);
}
.black_bckg-80 {
  background-color: rgba(0,0,0,0.8);
}
.black_bckg-70 {
  background-color: rgba(0,0,0,0.7);
}
.black_bckg-60 {
  background-color: rgba(0,0,0,0.6);
}
.black_bckg-50 {
  background-color: rgba(0,0,0,0.5);
}
.black_bckg-40 {
  background-color: rgba(0,0,0,0.4);
}
.black_bckg-30 {
  background-color: rgba(0,0,0,0.3);
}
.black_bckg-20 {
  background-color: rgba(0,0,0,0.2);
}
.black_bckg-10 {
  background-color: rgba(0,0,0,0.1);
}
.white_bckg-90 {
  background-color: rgba(255,255,255,0.9);
}
.white_bckg-80 {
  background-color: rgba(255,255,255,0.8);
}
.white_bckg-70 {
  background-color: rgba(255,255,255,0.7);
}
.white_bckg-60 {
  background-color: rgba(255,255,255,0.6);
}
.white_bckg-50 {
  background-color: rgba(255,255,255,0.5);
}
.white_bckg-40 {
  background-color: rgba(255,255,255,0.4);
}
.white_bckg-30 {
  background-color: rgba(255,255,255,0.3);
}
.white_bckg-20 {
  background-color: rgba(255,255,255,0.2);
}
.white_bckg-10 {
  background-color: rgba(255,255,255,0.1);
}
.black-inset-shadow-50 {
  box-shadow: inset 0 0 150px rgba(0,0,0,0.5);
}
.black-inset-shadow-40 {
  box-shadow: inset 0 0 150px rgba(0,0,0,0.4);
}
.black-inset-shadow-30 {
  box-shadow: inset 0 0 150px rgba(0,0,0,0.3);
}
.black-inset-shadow-20 {
  box-shadow: inset 0 0 150px rgba(0,0,0,0.2);
}
.black-inset-shadow-10 {
  box-shadow: inset 0 0 150px rgba(0,0,0,0.1);
}
.white-inset-shadow-50 {
  box-shadow: inset 0 0 150px rgba(255,255,255,0.5);
}
.white-inset-shadow-40 {
  box-shadow: inset 0 0 150px rgba(255,255,255,0.4);
}
.white-inset-shadow-30 {
  box-shadow: inset 0 0 150px rgba(255,255,255,0.3);
}
.white-inset-shadow-20 {
  box-shadow: inset 0 0 150px rgba(255,255,255,0.2);
}
.white-inset-shadow-10 {
  box-shadow: inset 0 0 150px rgba(255,255,255,0.1);
}
.major_color {
  color: #16b99a !important;
}
.white_color {
  color: #fff;
}
.text_color {
  color: #000000;
}
.major_color-lighten-10 {
  color: #1ee4be;
}
.major_color-lighten-20 {
  color: #4beacc;
}
.major_color-lighten-30 {
  color: #79efd9;
}
.transparent {
  background: transparent;
}
#sp-header {
  width: 100%;
  height: 90px;
}
#sp-header.white,
#sp-header.transparent-white {
  position: absolute;
  top: 0;
}
#sp-header.white:before,
#sp-header.transparent-white:before {
  width: 100%;
  position: absolute;
  content: " ";
  z-index: 2;
  min-height: 90px;
  height: 90px;
  background-color: rgba(255,255,255,0.77);
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}
#sp-header.white #sp-menu .sp-megamenu-parent li a,
#sp-header.transparent-white #sp-menu .sp-megamenu-parent li a {
  color: #333333;
}
#sp-header.white #cd-menu-trigger i,
#sp-header.white .cd-cart i,
#sp-header.transparent-white #cd-menu-trigger i,
#sp-header.transparent-white .cd-cart i {
  color: #333333;
}
#sp-header.onepage .sp-megamenu-parent li.active a {
  color: #16b99a;
  border-bottom: 2px solid #16b99a;
}
#sp-header.onepage .sp-megamenu-parent li.active:first-child >a.page-scroll {
  color: #16b99a;
  border-bottom: 2px solid #16b99a;
}
#sp-header.onepage .sp-megamenu-parent ul li a {
  border-bottom-width: 0px !important;
  border-right: 2px solid transparent;
  border-radius: 0 !important;
}
#sp-header.onepage .sp-megamenu-parent ul li a:hover {
  color: #16b99a;
  background: transparent;
}
#sp-header.onepage .sp-megamenu-parent ul li.active a {
  border-right: 2px solid #16b99a;
}
#sp-header #sp-menu {
  max-height: 90px;
}
#sp-header #sp-menu .sp-megamenu-parent >li.current-item.active>a,
#sp-header #sp-menu .sp-megamenu-parent >li.sp-has-child.active>a {
  color: #1ee4be;
}
#sp-header #sp-menu .sp-megamenu-parent .sp-dropdown .sp-dropdown-inner {
  background: rgba(255,255,255,0.8);
}
#sp-header #sp-menu .sp-megamenu-parent .sp-dropdown li.sp-menu-item >a {
  color: #333333;
}
#sp-header #sp-menu .sp-megamenu-parent .sp-dropdown li.sp-menu-item.current-item>a,
#sp-header #sp-menu .sp-megamenu-parent .sp-dropdown li.sp-menu-item a:hover {
  color: #fff;
  background-color: #16b99a;
  background-color: rgba(22,185,154,0.8);
}
#sp-header #sp-menu .sp-megamenu-parent .sp-dropdown li.sp-menu-item.active>a,
#sp-header #sp-menu .sp-megamenu-parent .sp-dropdown li.sp-menu-item.active:hover>a {
  color: #fff;
}
#sp-header #sp-menu .sp-megamenu-parent .sp-dropdown li.sp-menu-item.separator >a,
#sp-header #sp-menu .sp-megamenu-parent .sp-dropdown li.sp-menu-item.separator >a:hover {
  background: transparent;
  color: #333333;
  border-bottom: 1px solid rgba(0,0,0,0.15);
  box-shadow: 0 1px 0px rgba(250,250,250,0.15);
}
#sp-header .logo {
  height: 90px;
}
#sp-header #sp-menu .sp-column .sp-megamenu-parent > li > a {
  line-height: 88px;
}
#sp-header #offcanvas-toggler {
  line-height: 90px;
}
#sp-header .top-search-wrapper .icon-top-wrapper {
  height: 90px;
}
#sp-header .top-search-wrapper .icon-top-wrapper i.fa,
#sp-header .top-search-wrapper .icon-top-wrapper i.pe {
  line-height: 90px;
}
#sp-header .top-search-wrapper .searchwrapper {
  box-shadow: 0 0 0 6px rgba(22,185,154,0.5);
}
#sp-header #cart-menu {
  height: 90px;
  padding: 0;
}
#sp-header #cart-menu #cd-menu-trigger,
#sp-header #cart-menu .cd-cart {
  height: 90px;
}
#sp-header #cart-menu #cd-menu-trigger .empty_basket,
#sp-header #cart-menu #cd-menu-trigger .items-added,
#sp-header #cart-menu .cd-cart .empty_basket,
#sp-header #cart-menu .cd-cart .items-added {
  background-color: #16b99a;
}
#sp-header #cart-menu #cd-menu-trigger i,
#sp-header #cart-menu .cd-cart i {
  line-height: 90px;
}
#sp-header #cart-menu #cd-menu-trigger .total_products,
#sp-header #cart-menu .cd-cart .total_products {
  top: calc(23px);
}
#sp-header #cart-menu #cd-menu-trigger.menu-is-open >i,
#sp-header #cart-menu .cd-cart.menu-is-open >i {
  line-height: 60px;
  font-size: 30px;
}
#sp-header #cart-menu.shopping-menu-is-open #cd-menu-trigger >i,
#sp-header #cart-menu.shopping-menu-is-open .cd-cart >i {
  background-color: rgba(51,51,51,0.75);
  line-height: 90px;
}
#sp-header #cart-menu.shopping-menu-is-open #cd-menu-trigger.menu-is-open >i,
#sp-header #cart-menu.shopping-menu-is-open .cd-cart.menu-is-open >i {
  line-height: 60px;
}
#sp-header #cart-menu.shopping-menu-is-open #cd-menu-trigger.menu-is-open .total_products,
#sp-header #cart-menu.shopping-menu-is-open .cd-cart.menu-is-open .total_products {
  -webkit-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
  top: 10px;
  right: 27px;
  font-size: 11px;
  line-height: 18px;
  height: 18px;
  width: 18px;
}
#sp-header.centered #cart-menu.shopping-menu-is-open {
  height: 60px;
}
#sp-header.transparent #sp-menu .sp-megamenu-parent li a {
  color: #fff;
}
#sp-header.transparent #cd-menu-trigger i,
#sp-header.transparent .cd-cart i {
  color: #333333;
}
#sp-header.color #sp-menu .sp-megamenu-parent .sp-dropdown .sp-dropdown-inner {
  background: rgba(22,185,154,0.85);
}
#sp-header.color #sp-menu .sp-megamenu-parent .sp-dropdown .sp-dropdown-inner li.sp-menu-item.current-item>a,
#sp-header.color #sp-menu .sp-megamenu-parent .sp-dropdown .sp-dropdown-inner li.sp-menu-item a:hover {
  background-color: #0b5e4e;
  background-color: rgba(0,0,0,0.25);
}
.overflow-hidden {
  overflow-x: hidden;
}
#fading-header {
  display: none;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
}
#fading-header .white:before {
  display: none;
}
#fading-header .transparent-white:before {
  display: none;
}
#fading-header header.onepage ul li.active a {
  color: #16b99a;
  border-bottom: 2px solid #16b99a;
}
#fading-header .onepage .sp-megamenu-parent li.active a {
  color: #16b99a;
  border-bottom: 2px solid #16b99a;
}
#fading-header .onepage .sp-megamenu-parent li.active:first-child >a.page-scroll {
  color: #16b99a;
  border-bottom: 2px solid #16b99a;
}
#fading-header .onepage .sp-megamenu-parent ul li a {
  border-bottom-width: 0px !important;
  border-right: 2px solid transparent;
  border-radius: 0 !important;
}
#fading-header .onepage .sp-megamenu-parent ul li a:hover {
  color: #16b99a;
  background: transparent;
}
#fading-header .onepage .sp-megamenu-parent ul li.active a {
  border-right: 2px solid #16b99a;
}
#fading-header #sp-header {
  height: 60px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.1);
  background-color: rgba(255,255,255,0.8);
}
#fading-header #sp-header #sp-menu {
  max-height: 60px;
}
#fading-header #sp-header #sp-menu .sp-megamenu-parent >li.current-item.active>a,
#fading-header #sp-header #sp-menu .sp-megamenu-parent >li.sp-has-child.active>a {
  color: #1ee4be;
}
#fading-header #sp-header .logo {
  height: 60px;
}
#fading-header #sp-header #sp-menu .sp-column .sp-megamenu-parent > li > a {
  line-height: 58px;
  color: #333333;
}
#fading-header #sp-header #sp-menu .sp-column .sp-megamenu-parent.menu-slide-down .sp-has-child:hover >.sp-dropdown {
  top: 60px;
}
#fading-header #sp-header .top-search-wrapper .icon-top-wrapper {
  height: 56px;
}
#fading-header #sp-header .top-search-wrapper .icon-top-wrapper i.fa,
#fading-header #sp-header .top-search-wrapper .icon-top-wrapper i.pe {
  line-height: 56px;
  color: #333333;
}
#fading-header #sp-header #offcanvas-toggler {
  line-height: 60px;
}
#fading-header #cart-menu {
  height: 60px;
}
#fading-header #cart-menu #cd-menu-trigger,
#fading-header #cart-menu .cd-cart {
  height: 60px;
}
#fading-header #cart-menu #cd-menu-trigger .empty_basket,
#fading-header #cart-menu #cd-menu-trigger .items-added,
#fading-header #cart-menu .cd-cart .empty_basket,
#fading-header #cart-menu .cd-cart .items-added {
  background-color: #16b99a;
}
#fading-header #cart-menu #cd-menu-trigger i,
#fading-header #cart-menu .cd-cart i {
  line-height: 60px;
  color: #333333;
}
#fading-header #cart-menu #cd-menu-trigger .total_products,
#fading-header #cart-menu .cd-cart .total_products {
  top: calc(10px);
}
#fading-header.sticky {
  position: fixed;
}
#fading-header.sticky .sp-has-child >.sp-dropdown {
  visibility: hidden;
}
#fading-header.sticky .sp-has-child:hover >.sp-dropdown {
  visibility: visible;
}
.offcanvas-inner .sp-module ul.accordion-menu > li .offcanvas-menu-toggler .close-icon {
  color: #16b99a;
}
.offcanvas-inner .sp-module ul.accordion-menu li.current > a {
  color: #16b99a;
}
.close-offcanvas:hover {
  border: 1px solid #16b99a;
  color: #16b99a;
}
.full-screen .offcanvas-menu,
.full-screen-off-canvas-ftop .offcanvas-menu {
  background-color: rgba(255,255,255,0.8);
  margin-bottom: 10vh;
}
.full-screen .offcanvas-menu .search input,
.full-screen-off-canvas-ftop .offcanvas-menu .search input {
  border: 1px solid #333333;
  height: 44px;
}
.full-screen .offcanvas-menu .flex-search:before,
.full-screen-off-canvas-ftop .offcanvas-menu .flex-search:before {
  line-height: 44px;
}
.full-screen .offcanvas-menu ul li a,
.full-screen-off-canvas-ftop .offcanvas-menu ul li a {
  color: #333333;
}
.full-screen .offcanvas-menu ul li ul li.separator.deeper .offcanvas-menu-toggler,
.full-screen-off-canvas-ftop .offcanvas-menu ul li ul li.separator.deeper .offcanvas-menu-toggler {
  padding: 5px 15px;
  line-height: 18px;
}
.full-screen .offcanvas-menu ul li ul li.separator.deeper .offcanvas-menu-toggler .open-icon,
.full-screen .offcanvas-menu ul li ul li.separator.deeper .offcanvas-menu-toggler .close-icon,
.full-screen-off-canvas-ftop .offcanvas-menu ul li ul li.separator.deeper .offcanvas-menu-toggler .open-icon,
.full-screen-off-canvas-ftop .offcanvas-menu ul li ul li.separator.deeper .offcanvas-menu-toggler .close-icon {
  font-size: 16px;
}
.slide-top-menu .offcanvas-menu {
  background-color: rgba(255,255,255,0.8);
  margin-bottom: 10vh;
  box-shadow: -1px 0 15px rgba(0,0,0,0.3);
}
.slide-top-menu .offcanvas-menu .search input {
  border: 1px solid #333333;
}
.slide-top-menu .offcanvas-menu ul li a {
  color: #333333;
}
.new-look .offcanvas-menu {
  box-shadow: -1px 0 15px rgba(0,0,0,0.3);
}
.new-look .offcanvas-menu .sp-module ul >li .offcanvas-menu-toggler:before {
  background: #16b99a none repeat scroll 0 0;
}
.new-look .offcanvas-menu .sp-module ul >li .offcanvas-menu-toggler:after {
  background: #16b99a none repeat scroll 0 0;
}
.new-look .offcanvas-menu .sp-module ul >li .offcanvas-menu-toggler.collapsed:before {
  background: #eee none repeat scroll 0 0;
}
.new-look .offcanvas-menu .sp-module ul >li .offcanvas-menu-toggler.collapsed:after {
  background: #eee none repeat scroll 0 0;
}
.new-look .offcanvas-menu .sp-module ul >li.active .offcanvas-menu-toggler:before {
  background: #16b99a none repeat scroll 0 0;
}
.new-look .offcanvas-menu .sp-module ul >li.active .offcanvas-menu-toggler:after {
  background: #16b99a none repeat scroll 0 0;
}
a {
  color: #16b99a;
}
a:hover {
  color: #118b74;
}
.article-info >dt >i,
.article-info >dt >span.fa,
.article-info >dd >i,
.article-info >dd >span.fa {
  color: #1ee4be;
}
.article-info >dt .voting-symbol span.star,
.article-info >dd .voting-symbol span.star {
  color: #1ee4be;
}
.article-info >dt .sp-rating span.star:hover:before,
.article-info >dt .sp-rating span.star:hover ~ span.star:before,
.article-info >dd .sp-rating span.star:hover:before,
.article-info >dd .sp-rating span.star:hover ~ span.star:before {
  color: #13a287;
}
.article-info >dt .ajax-loader:before,
.article-info >dd .ajax-loader:before {
  color: #118b74;
}
#offcanvas-toggler >i {
  color: #1ee4be;
}
#offcanvas-toggler >i:hover {
  color: #16b99a;
}
.sp-pre-loader {
  background: rgba(255,255,255,0.64);
}
.sp-pre-loader .sp-loader-clock {
  border: 3px solid #333333;
}
.sp-pre-loader .sp-loader-clock:after {
  background-color: #333333;
}
.sp-pre-loader .sp-loader-clock:before {
  background-color: #333333;
}
.sp-pre-loader .sp-loader-circle {
  border: 4px solid rgba(51,51,51,0.4);
}
.sp-pre-loader .sp-loader-circle:after {
  border-top-color: #333333;
}
.sp-pre-loader .loader-flip:after {
  background-color: rgba(51,51,51,0.8);
}
.sp-pre-loader .sp-loader-bubble-loop {
  background-color: #333333;
}
.sp-pre-loader .sp-loader-bubble-loop:before {
  background-color: rgba(51,51,51,0.5);
}
.sp-pre-loader .sp-loader-bubble-loop:after {
  background-color: rgba(51,51,51,0.5);
}
.sp-pre-loader .circle-two > span,
.sp-pre-loader .circle-two > span:before,
.sp-pre-loader .circle-two > span:after {
  border: 2px solid #333333;
}
.sp-pre-loader .wave-two li {
  background-color: #333333;
}
.sp-pre-loader .sp-loader-audio-wave {
  background: linear-gradient(#333333,#333333) 0 50%, linear-gradient(#333333,#333333) 0.625em 50%, linear-gradient(#333333,#333333) 1.25em 50%, linear-gradient(#333333,#333333) 1.875em 50%, linear-gradient(#333333,#333333) 2.5em 50%;
}
.sp-pre-loader .sp-loader-with-logo .line {
  background: #333333;
}
.btn-primary,
.button,
.btn-readmore,
.sppb-btn-primary,
.vm-button-correct {
  border-color: #15b092;
  background-color: #16b99a;
  background-color: rgba(22,185,154,0.9);
  color: #fff;
}
.btn-primary:hover,
.btn-primary:focus,
.button:hover,
.button:focus,
.btn-readmore:hover,
.btn-readmore:focus,
.sppb-btn-primary:hover,
.sppb-btn-primary:focus,
.vm-button-correct:hover,
.vm-button-correct:focus {
  border-color: #0e7561;
  background-color: #14a78b;
  color: #fff;
}
.btn-primary.sppb-btn-outline,
.button.sppb-btn-outline,
.btn-readmore.sppb-btn-outline,
.sppb-btn-primary.sppb-btn-outline,
.vm-button-correct.sppb-btn-outline {
  border: 2px solid #16b99a;
  color: inherit;
  background-color: transparent;
}
.btn-primary.sppb-btn-outline:hover,
.btn-primary.sppb-btn-outline:focus,
.btn-primary.sppb-btn-outline:active,
.btn-primary.sppb-btn-outline.active,
.btn-primary.open > .dropdown-toggle.sppb-btn-outline,
.button.sppb-btn-outline:hover,
.button.sppb-btn-outline:focus,
.button.sppb-btn-outline:active,
.button.sppb-btn-outline.active,
.button.open > .dropdown-toggle.sppb-btn-outline,
.btn-readmore.sppb-btn-outline:hover,
.btn-readmore.sppb-btn-outline:focus,
.btn-readmore.sppb-btn-outline:active,
.btn-readmore.sppb-btn-outline.active,
.btn-readmore.open > .dropdown-toggle.sppb-btn-outline,
.sppb-btn-primary.sppb-btn-outline:hover,
.sppb-btn-primary.sppb-btn-outline:focus,
.sppb-btn-primary.sppb-btn-outline:active,
.sppb-btn-primary.sppb-btn-outline.active,
.sppb-btn-primary.open > .dropdown-toggle.sppb-btn-outline,
.vm-button-correct.sppb-btn-outline:hover,
.vm-button-correct.sppb-btn-outline:focus,
.vm-button-correct.sppb-btn-outline:active,
.vm-button-correct.sppb-btn-outline.active,
.vm-button-correct.open > .dropdown-toggle.sppb-btn-outline {
  background: rgba(22,185,154,0.9);
  border-color: rgba(0,0,0,0.2);
}
.btn-primary.sppb-btn-3d,
.button.sppb-btn-3d,
.btn-readmore.sppb-btn-3d,
.sppb-btn-primary.sppb-btn-3d,
.vm-button-correct.sppb-btn-3d {
  border-bottom-color: rgba(0,0,0,0.25);
}
.btn-primary.sppb-btn-3d:hover,
.btn-primary.sppb-btn-3d:focus,
.button.sppb-btn-3d:hover,
.button.sppb-btn-3d:focus,
.btn-readmore.sppb-btn-3d:hover,
.btn-readmore.sppb-btn-3d:focus,
.sppb-btn-primary.sppb-btn-3d:hover,
.sppb-btn-primary.sppb-btn-3d:focus,
.vm-button-correct.sppb-btn-3d:hover,
.vm-button-correct.sppb-btn-3d:focus {
  background: rgba(22,185,154,0.95);
  border-bottom-color: rgba(0,0,0,0.3);
}
.btn-primary.sppb-btn-3d:active,
.btn-primary.sppb-btn-3d.active,
.btn-primary.open > .dropdown-toggle.sppb-btn-3d,
.button.sppb-btn-3d:active,
.button.sppb-btn-3d.active,
.button.open > .dropdown-toggle.sppb-btn-3d,
.btn-readmore.sppb-btn-3d:active,
.btn-readmore.sppb-btn-3d.active,
.btn-readmore.open > .dropdown-toggle.sppb-btn-3d,
.sppb-btn-primary.sppb-btn-3d:active,
.sppb-btn-primary.sppb-btn-3d.active,
.sppb-btn-primary.open > .dropdown-toggle.sppb-btn-3d,
.vm-button-correct.sppb-btn-3d:active,
.vm-button-correct.sppb-btn-3d.active,
.vm-button-correct.open > .dropdown-toggle.sppb-btn-3d {
  border-bottom: 2px solid rgba(0,0,0,0.3);
  background: rgba(22,185,154,0.9);
}
.sppb-btn-default {
  background-color: rgba(255,255,255,0.75);
  border-color: #666666;
  color: #666666;
}
.sppb-btn-default:hover,
.sppb-btn-default:focus {
  background-color: rgba(255,255,255,0.95);
  border-color: #16b99a;
  color: #16b99a;
}
.sppb-btn-default.sppb-btn-outline {
  border: 2px solid #666666;
  color: inherit;
  background-color: transparent;
}
.sppb-btn-default.sppb-btn-outline:hover,
.sppb-btn-default.sppb-btn-outline:focus,
.sppb-btn-default.sppb-btn-outline:active,
.sppb-btn-default.sppb-btn-outline.active,
.sppb-btn-default.open > .dropdown-toggle.sppb-btn-outline {
  background-color: transparent;
  color: #118b74;
  border: 2px solid #16b99a;
}
.sppb-btn-default.sppb-btn-3d {
  border-bottom-color: #666666;
}
.sppb-btn-default.sppb-btn-3d:hover,
.sppb-btn-default.sppb-btn-3d:focus {
  background-color: transparent;
  color: #118b74;
  border-bottom-color: #16b99a;
}
.sppb-btn-default.sppb-btn-3d:active,
.sppb-btn-default.sppb-btn-3d.active,
.sppb-btn-default.open > .dropdown-toggle.sppb-btn-3d {
  border-bottom: 2px solid #16b99a;
  background-color: transparent;
}
.btn-link,
.sppb-btn-link {
  color: #1ee4be;
}
.btn-link:hover,
.btn-link:focus,
.sppb-btn-link:hover,
.sppb-btn-link:focus {
  color: #16b99a;
  text-decoration: none;
}
.btn-readmore {
  color: #fff;
}
.btn-readmore:hover,
.btn-readmore:focus {
  color: #fff;
}
.btn-dark,
.sppb-btn-dark {
  color: #fff;
  border-color: #4d4d4d;
  background-color: rgba(51,51,51,0.72);
}
.btn-dark:hover,
.btn-dark:focus,
.sppb-btn-dark:hover,
.sppb-btn-dark:focus {
  color: #eee;
  border-color: #333;
  background-color: #424242;
  background-color: rgba(51,51,51,0.87);
}
.btn-dark.sppb-btn-outline,
.sppb-btn-dark.sppb-btn-outline {
  border-color: #333;
}
.btn-dark.sppb-btn-outline:hover,
.btn-dark.sppb-btn-outline:focus,
.btn-dark.sppb-btn-outline:active,
.btn-dark.sppb-btn-outline.active,
.btn-dark.open > .dropdown-toggle.sppb-btn-outline,
.sppb-btn-dark.sppb-btn-outline:hover,
.sppb-btn-dark.sppb-btn-outline:focus,
.sppb-btn-dark.sppb-btn-outline:active,
.sppb-btn-dark.sppb-btn-outline.active,
.sppb-btn-dark.open > .dropdown-toggle.sppb-btn-outline {
  color: #eee;
  border-color: #333;
  background-color: #535353;
  background-color: rgba(51,51,51,0.8);
}
.btn-dark.sppb-btn-3d,
.btn-dark.sppb-btn-3d:hover,
.btn-dark.sppb-btn-3d:focus,
.btn-dark.sppb-btn-3d:active,
.btn-dark.sppb-btn-3d.active,
.btn-dark.open > .dropdown-toggle.sppb-btn-3d,
.sppb-btn-dark.sppb-btn-3d,
.sppb-btn-dark.sppb-btn-3d:hover,
.sppb-btn-dark.sppb-btn-3d:focus,
.sppb-btn-dark.sppb-btn-3d:active,
.sppb-btn-dark.sppb-btn-3d.active,
.sppb-btn-dark.open > .dropdown-toggle.sppb-btn-3d {
  border-bottom-color: #262626;
}
.btn-light,
.sppb-btn-light {
  color: #f5f5f5;
  border-color: #f5f5f5;
  border-color: rgba(255,255,255,0.77);
  background-color: rgba(255,255,255,0.05);
}
.btn-light:hover,
.btn-light:focus,
.sppb-btn-light:hover,
.sppb-btn-light:focus {
  border-color: #fff;
  color: #fff;
  background-color: rgba(255,255,255,0.15);
}
.btn-light.sppb-btn-outline,
.sppb-btn-light.sppb-btn-outline {
  color: #f5f5f5;
  border-color: #f5f5f5;
  border-color: rgba(255,255,255,0.77);
}
.btn-light.sppb-btn-outline:hover,
.btn-light.sppb-btn-outline:focus,
.btn-light.sppb-btn-outline:active,
.btn-light.sppb-btn-outline.active,
.btn-light.open > .dropdown-toggle.sppb-btn-outline,
.sppb-btn-light.sppb-btn-outline:hover,
.sppb-btn-light.sppb-btn-outline:focus,
.sppb-btn-light.sppb-btn-outline:active,
.sppb-btn-light.sppb-btn-outline.active,
.sppb-btn-light.open > .dropdown-toggle.sppb-btn-outline {
  border-color: #fff;
  color: #fff;
}
.btn-light.sppb-btn-3d,
.sppb-btn-light.sppb-btn-3d {
  border-bottom-color: rgba(255,255,255,0.77);
}
.btn-light.sppb-btn-3d:hover,
.btn-light.sppb-btn-3d:focus,
.btn-light.sppb-btn-3d:active,
.btn-light.sppb-btn-3d.active,
.btn-light.open > .dropdown-toggle.sppb-btn-3d,
.sppb-btn-light.sppb-btn-3d:hover,
.sppb-btn-light.sppb-btn-3d:focus,
.sppb-btn-light.sppb-btn-3d:active,
.sppb-btn-light.sppb-btn-3d.active,
.sppb-btn-light.open > .dropdown-toggle.sppb-btn-3d {
  border-bottom-color: #fff;
}
.btn-flex,
.sppb-btn-flex {
  color: #fff;
  border-color: #4beacc;
  background-color: rgba(255,255,255,0.25);
  box-shadow: 0 2px 5px rgba(0,0,0,0.15);
}
.btn-flex:hover,
.btn-flex:focus,
.sppb-btn-flex:hover,
.sppb-btn-flex:focus {
  border-color: #35e7c5;
  color: #fff;
  background-color: rgba(22,185,154,0.7);
}
.btn-flex.sppb-btn-outline,
.sppb-btn-flex.sppb-btn-outline {
  color: #fff;
  border-color: #4beacc;
  background-color: rgba(255,255,255,0.25);
}
.btn-flex.sppb-btn-outline:hover,
.btn-flex.sppb-btn-outline:focus,
.btn-flex.sppb-btn-outline:active,
.btn-flex.sppb-btn-outline.active,
.btn-flex.open > .dropdown-toggle.sppb-btn-outline,
.sppb-btn-flex.sppb-btn-outline:hover,
.sppb-btn-flex.sppb-btn-outline:focus,
.sppb-btn-flex.sppb-btn-outline:active,
.sppb-btn-flex.sppb-btn-outline.active,
.sppb-btn-flex.open > .dropdown-toggle.sppb-btn-outline {
  border-color: #35e7c5;
  color: #fff;
  background-color: rgba(22,185,154,0.7);
}
.btn-flex.sppb-btn-3d,
.btn-flex.sppb-btn-3d:hover,
.btn-flex.sppb-btn-3d:focus,
.btn-flex.sppb-btn-3d:active,
.btn-flex.sppb-btn-3d.active,
.btn-flex.open > .dropdown-toggle.sppb-btn-3d,
.sppb-btn-flex.sppb-btn-3d,
.sppb-btn-flex.sppb-btn-3d:hover,
.sppb-btn-flex.sppb-btn-3d:focus,
.sppb-btn-flex.sppb-btn-3d:active,
.sppb-btn-flex.sppb-btn-3d.active,
.sppb-btn-flex.open > .dropdown-toggle.sppb-btn-3d {
  border-bottom-color: #1ee4be;
}
.light >i {
  color: #62ecd2;
}
.light:hover i {
  color: #79efd9;
}
ul.social-icons >li a:hover,
ul.social-icons >li a:hover > i {
  -webkit-transition: all 300ms;
  transition: all 300ms;
  color: #79efd9;
}
.login .title i.pe,
.registration .title i.pe {
  color: #4beacc;
}
.ap-login a i.pe,
.ap-signin a i.pe {
  color: #4beacc;
}
.ap-modal-login {
  color: #000000;
}
.ap-modal-login .title i.pe {
  color: #4beacc;
}
.ap-modal-login .modal-content .modal-body .forget-name-link a {
  color: #000000 !important;
}
.ap-modal-login .modal-content .modal-body .forget-name-link a:hover {
  color: #16b99a !important;
}
.ap-modal-login .modal-content .modal-footer a:hover {
  color: #16b99a !important;
}
.view-profile .select-menu select {
  display: block;
}
.view-profile button:focus {
  outline: none;
}
.view-profile a[title="Cancel"] {
  background-color: #888888;
  color: #fff;
}
.view-profile a[title="Cancel"]:hover {
  background-color: #6f6f6f;
}
.ap-my-account-menu {
  color: #eee;
}
.ap-my-account-menu .signin-img-wrap i.pe {
  color: #4beacc;
}
.ap-my-account-menu ul.menu >li {
  background-color: #444;
  background-color: rgba(40,40,40,0.8);
}
.ap-my-account-menu ul.menu >li:last-child a:hover {
  background-color: rgba(22,185,154,0.8);
  color: #fff;
}
.ap-my-account-menu ul.menu >li:last-child a::before {
  color: #4beacc;
}
.ap-my-account-menu ul.menu a {
  color: #fff;
}
.ap-my-account-menu ul.menu a:hover {
  color: #fff !important;
}
.login-wrapper >i.pe,
.registration-wrapper >i.pe,
.reset-wrapper >i.pe,
.remind-wrapper >i.pe {
  color: rgba(22,185,154,0.07);
}
.login-wrapper >i.pe {
  color: rgba(85,85,85,0.02);
}
#sp-top-bar ul.social-icons >li a:hover,
#sp-top-bar ul.social-icons >li a:hover > i {
  -webkit-transition: all 300ms;
  transition: all 300ms;
  color: #19d0ad;
}
#sp-top-bar.onepage {
  box-shadow: inset 0 1px 0px rgba(0,0,0,0.05), inset 0 -1px 0px rgba(0,0,0,0.1);
}
#sp-top-bar.onepage .sp-contact-info li i {
  color: #0f826c;
}
#sp-top-bar.onepage .ap-login a i.pe,
#sp-top-bar.onepage .ap-signin a i.pe {
  color: #0f826c;
}
.sp-contact-info li a:hover {
  color: #35e7c5;
}
.sp-contact-info li i {
  color: #35e7c5;
}
.sp-module-content .mod-languages ul.lang-block li.lang-active a i {
  color: #4beacc;
}
.sp-page-title-no-img {
  background: #16b99a;
}
.layout-boxed .body-innerwrapper {
  background: #ffffff;
}
ol.breadcrumb li a:hover {
  color: #62ecd2;
}
.sp-module ul >li >a,
.sppb-addon-module ul >li >a {
  color: #1a1a1a;
}
.sp-module ul >li >a:hover,
.sppb-addon-module ul >li >a:hover {
  color: #16b99a;
}
.sp-module.white .sppb-addon-content ol >span,
.sppb-addon-module.white .sppb-addon-content ol >span {
  color: #e2e2e2;
}
.sp-module.white .sppb-addon-content ol li,
.sppb-addon-module.white .sppb-addon-content ol li {
  color: #e2e2e2;
}
.sp-module.white .sppb-addon-content ol li a,
.sppb-addon-module.white .sppb-addon-content ol li a {
  color: #fff;
}
.sp-module.white .sppb-addon-content ol li a:hover,
.sppb-addon-module.white .sppb-addon-content ol li a:hover {
  color: #62ecd2;
}
.sp-module.dark ul >li >span >a,
.sppb-addon-module.dark ul >li >span >a {
  color: #19d0ad;
}
.sp-module.dark ul >li >span >a:hover,
.sppb-addon-module.dark ul >li >span >a:hover {
  color: #4beacc;
}
.sp-module.dark ul >li >a,
.sppb-addon-module.dark ul >li >a {
  color: #1ee4be !important;
}
.sp-module.dark ul >li >a:hover,
.sppb-addon-module.dark ul >li >a:hover {
  color: #62ecd2 !important;
}
.sp-module .latestnews >div >a,
.sppb-addon-module .latestnews >div >a {
  color: #000000;
}
.sp-module .latestnews >div >a:hover,
.sppb-addon-module .latestnews >div >a:hover {
  color: #16b99a;
}
.sp-module ul.category-module >li >a,
.sp-module .relateditems >li >a,
.sppb-addon-module ul.category-module >li >a,
.sppb-addon-module .relateditems >li >a {
  color: #1ee4be;
}
.sp-module ul.category-module >li >a >div.related-date,
.sp-module .relateditems >li >a >div.related-date,
.sppb-addon-module ul.category-module >li >a >div.related-date,
.sppb-addon-module .relateditems >li >a >div.related-date {
  color: #999999;
}
.sp-module ul.category-module >li >a >div.related-date >i,
.sp-module .relateditems >li >a >div.related-date >i,
.sppb-addon-module ul.category-module >li >a >div.related-date >i,
.sppb-addon-module .relateditems >li >a >div.related-date >i {
  color: #4beacc;
}
.sp-module ul.category-module >li span,
.sp-module ul.category-module >li p,
.sp-module .relateditems >li span,
.sp-module .relateditems >li p,
.sppb-addon-module ul.category-module >li span,
.sppb-addon-module ul.category-module >li p,
.sppb-addon-module .relateditems >li span,
.sppb-addon-module .relateditems >li p {
  color: #999999;
}
.sp-module ul.category-module >li span >i,
.sp-module ul.category-module >li p >i,
.sp-module .relateditems >li span >i,
.sp-module .relateditems >li p >i,
.sppb-addon-module ul.category-module >li span >i,
.sppb-addon-module ul.category-module >li p >i,
.sppb-addon-module .relateditems >li span >i,
.sppb-addon-module .relateditems >li p >i {
  color: #4beacc;
}
.sp-module ul.category-module >li a.mod-articles-category-title,
.sppb-addon-module ul.category-module >li a.mod-articles-category-title {
  color: #000000;
}
.sp-module ul.category-module >li a.mod-articles-category-title:hover,
.sppb-addon-module ul.category-module >li a.mod-articles-category-title:hover {
  color: #16b99a;
}
.sp-module .tagscloud .tag-name,
.sppb-addon-module .tagscloud .tag-name {
  color: #666666;
}
.sp-module .tagscloud .tag-name:hover,
.sppb-addon-module .tagscloud .tag-name:hover {
  background: #19d0ad;
  border-color: #16b99a;
  color: #fff;
}
.tag-category ul.category li h3 >a {
  color: #595959;
}
.tag-category ul.category li h3 >a:hover {
  color: #16b99a;
}
.tags >span >i {
  color: #c4c4c4;
}
.tags:hover >span >i {
  color: #919191;
}
.sp-simpleportfolio .sp-simpleportfolio-filter > ul.simple > li > a {
  color: #1a1a1a;
}
.sp-simpleportfolio .sp-simpleportfolio-filter > ul.simple > li > a:hover {
  color: #16b99a;
}
.sp-simpleportfolio .sp-simpleportfolio-filter > ul.simple > li.active > a {
  color: #16b99a;
}
.sp-simpleportfolio .sp-simpleportfolio-filter > ul.simple > li.active > a:hover {
  color: #16b99a;
}
.sp-simpleportfolio .sp-simpleportfolio-filter > ul.simple > li span.simple-divider {
  color: #90f2df;
}
.sp-simpleportfolio .sp-simpleportfolio-filter > ul.flex > li.active > a,
#mod-sp-simpleportfolio .sp-simpleportfolio-filter > ul.flex > li.active > a {
  background: #16b99a;
}
.sp-simpleportfolio .sp-simpleportfolio-filter > ul.flex > li > a:hover,
#mod-sp-simpleportfolio .sp-simpleportfolio-filter > ul.flex > li > a:hover {
  background: #16b99a;
}
.sp-simpleportfolio .sp-simpleportfolio-item .sp-simpleportfolio-btns a,
#mod-sp-simpleportfolio .sp-simpleportfolio-item .sp-simpleportfolio-btns a {
  background-color: #16b99a;
  background-color: rgba(22,185,154,0.8);
}
.sp-simpleportfolio .sp-simpleportfolio-item .sp-simpleportfolio-btns a:hover,
#mod-sp-simpleportfolio .sp-simpleportfolio-item .sp-simpleportfolio-btns a:hover {
  background-color: #16b99a;
  box-shadow: 0 1px 3px rgba(0,0,0,0.3);
}
.sp-simpleportfolio .sp-simpleportfolio-meta .sp-module:hover h3 > i.fa {
  color: #16b99a;
}
.sp-simpleportfolio-info .sp-simpleportfolio-tags i.fa {
  color: #1ee4be;
}
input[type="text"]:focus {
  border: 1px solid #16b99a;
}
.search input#mod-search-searchword:focus,
.search input#search-searchword:focus,
.search input#mod_virtuemart_search:focus {
  border: 1px solid #16b99a;
}
.search:before {
  color: #1ee4be;
}
.search:hover:before,
.search:focus:before,
.search:active:before {
  color: #1a1a1a;
}
.search .btn-toolbar button {
  background: #16b99a;
}
.post-format {
  background-color: #16b99a;
  background-color: rgba(22,185,154,0.9);
}
.entry-link,
.entry-quote {
  background-color: #16b99a;
  background-color: rgba(22,185,154,0.9);
}
blockquote {
  border-color: #16b99a;
}
#sp-footer {
  background: #16b99a;
}
.sp-comingsoon body {
  background-color: #13a287;
}
.sp-comingsoon body #sp-comingsoon ul.social-icons >li a:hover,
.sp-comingsoon body #sp-comingsoon ul.social-icons >li a:hover i {
  color: #fff;
}
.sp-comingsoon body.with-bckg-img a.logo {
  background: rgba(20,20,20,0.45);
}
.sp-comingsoon body.with-bckg-img .days .number,
.sp-comingsoon body.with-bckg-img .hours .number,
.sp-comingsoon body.with-bckg-img .seconds .number,
.sp-comingsoon body.with-bckg-img .minutes .number {
  border: 1px solid rgba(255,255,255,0.5);
  background-color: rgba(0,0,0,0.2);
}
.sp-comingsoon body.with-bckg-img .social-icons {
  background-color: rgba(0,0,0,0.2);
}
.pagination>li>a,
.pagination>li>span {
  color: #000000;
}
.pagination>li>a:hover,
.pagination>li>a:focus,
.pagination>li>span:hover,
.pagination>li>span:focus {
  color: #000000;
}
.pagination>.active>a,
.pagination>.active>span {
  border-color: #16b99a;
  background-color: #16b99a;
}
.pagination>.active>a:hover,
.pagination>.active>a:focus,
.pagination>.active>span:hover,
.pagination>.active>span:focus {
  border-color: #16b99a;
  background-color: #16b99a;
}
.sppb-addon h3.sppb-addon-title {
  color: #1a1a1a;
}
.sppb-addon h3.sppb-addon-title:after {
  background: #1ee4be;
}
.sppb-panel-default .sppb-panel-heading .sppb-panel-title >i {
  color: #666666;
}
.sppb-panel-default .sppb-panel-heading.active,
.sppb-panel-default .sppb-panel-heading.active:before {
  color: #16b99a;
}
.sppb-panel-default .sppb-panel-heading.active .sppb-panel-title,
.sppb-panel-default .sppb-panel-heading.active:before .sppb-panel-title {
  color: #16b99a;
}
.sppb-panel-default .sppb-panel-heading.active .sppb-panel-title >i,
.sppb-panel-default .sppb-panel-heading.active:before .sppb-panel-title >i {
  color: #1ee4be;
}
.sppb-panel-primary {
  border: none;
}
.sppb-panel-primary >.sppb-panel-heading {
  background-color: #16b99a;
}
.sppb-panel-flex >.sppb-panel-heading .sppb-panel-title >i {
  color: #666666;
}
.sppb-panel-flex >.sppb-panel-heading:after {
  color: #808080;
}
.sppb-panel-flex >.sppb-panel-heading.active {
  border-bottom: 1px solid #16b99a;
}
.sppb-panel-flex >.sppb-panel-heading.active:after {
  color: #16b99a;
}
.sppb-panel-flex >.sppb-panel-heading.active .sppb-panel-title >i {
  color: #16b99a;
}
.sppb-panel-flex >.sppb-panel-heading +.sppb-panel-collapse > .sppb-panel-body {
  border-bottom: 1px solid #16b99a;
}
.sppb-addon-countdown.flex .sppb-countdown-number {
  background-color: #16b99a;
  border: 2px solid rgba(0,0,0,0.2);
  text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}
.entry-header h2 a {
  color: #000000;
}
.entry-header h2 a:hover,
.entry-header h2 a:focus {
  color: #16b99a;
}
.entry-header h2 .divider {
  background: #1ee4be;
}
.entry-header h2 .divider:after {
  background: #b3b3b3;
}
.html-style span {
  background: #1addb8;
}
ul.site-list li {
  color: #000000;
}
ul.site-list li i {
  color: #1addb8;
}
.bullets .li-circle {
  color: #16b99a;
}
.dropcaps .naked-drop span {
  color: #16b99a;
}
.dropcaps .full-drop span {
  background: #16b99a;
}
.sp-module .sp-module-title {
  color: #1a1a1a;
}
.sp-module .sp-module-title .divider {
  background: #1ee4be;
}
.sp-module .divider {
  background: #b3b3b3;
}
.cd-pagination li.active >a {
  background-color: #16b99a;
  color: #fff;
}
.cd-pagination a {
  background-color: #fafafa;
}
.cd-pagination a:hover,
.cd-pagination a:focus {
  background-color: #16b99a;
  color: #fff;
}
.cd-pagination a:active {
  background-color: #0b5e4e;
}
.sppb-addon-single-image .sppb-addon-content a .overlay >i:before {
  background-color: rgba(22,185,154,0.8);
}
.sppb-addon-single-image .sppb-addon-content a .overlay:after {
  background-color: rgba(51,51,51,0.25);
  box-shadow: inset 0 0 50px rgba(51,51,51,0.9);
}
.sppb-progress-bar-default {
  background-color: #16b99a;
}
.sppb-nav-tabs >li >a {
  color: #16b99a;
}
.sppb-nav-tabs >li.active >a {
  color: #333333;
}
.flex .sppb-tab .sppb-nav-tabs >li.active >a {
  border-top-color: #1ee4be;
}
.flex .sppb-tab .sppb-nav-tabs >li.active >a:hover,
.flex .sppb-tab .sppb-nav-tabs >li.active >a:focus {
  border-top-color: #1ee4be;
}
.sppb-nav-pills >li >a {
  color: #333333;
  background: transparent !important;
}
.sppb-nav-pills >li >a >i {
  color: #666666;
}
.sppb-nav-pills >li >a:hover >i,
.sppb-nav-pills >li >a:focus >i {
  color: #333333;
}
.sppb-nav-pills >li.active >a {
  background-color: transparent;
  color: #16b99a;
  box-shadow: inset 0 0 0 1px #16b99a;
}
.sppb-nav-pills >li.active >a >i {
  color: #16b99a;
}
.pro-client-url {
  color: #16b99a;
}
.sppb-pricing-box {
  box-shadow: inset 0 0 1px #999999;
}
.sppb-pricing-box.sppb-pricing-featured {
  background: transparent;
}
.sppb-pricing-box.sppb-pricing-featured .sppb-pricing-header {
  background-color: #16b99a;
}
.sppb-pricing-box.sppb-pricing-featured .sppb-pricing-features {
  color: #000000;
}
.sppb-addon-latest-posts .latest-post .latest-post-inner div.img-wrapper,
.sppb-addon-latest-posts .latest-post .latest-post-item div.img-wrapper {
  position: relative;
  overflow: hidden;
  max-width: 100%;
}
.sppb-addon-latest-posts .latest-post .latest-post-inner div.img-wrapper >a:after,
.sppb-addon-latest-posts .latest-post .latest-post-item div.img-wrapper >a:after {
  background: #16b99a;
}
.sppb-addon-latest-posts .latest-post .latest-post-inner h2.entry-title a,
.sppb-addon-latest-posts .latest-post .latest-post-item h2.entry-title a {
  color: #404040;
}
.sppb-addon-latest-posts .latest-post .latest-post-inner:hover h2.entry-title a,
.sppb-addon-latest-posts .latest-post .latest-post-item:hover h2.entry-title a {
  color: #16b99a;
}
.light .sppb-selector span i {
  color: #79efd9;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.light .sppb-selector >i {
  color: #62ecd2;
}
.light .sppb-selector:hover span i {
  color: #fff;
}
.light .sppb-selector:hover i {
  color: #79efd9;
}
.flex .sppb-addon-content #gm-zoom-in,
.flex .sppb-addon-content #gm-zoom-out {
  background-color: #1ee4be;
  opacity: 0.77;
}
.flex .sppb-addon-content #gm-zoom-in:hover,
.flex .sppb-addon-content #gm-zoom-out:hover {
  background-color: #19d0ad;
  opacity: 1;
}
.sppb-addon .sppb-icon {
  color: #16b99a;
  line-height: 1.5;
}
.sppb-media.default >a:hover img.sppb-media-object,
.sppb-media.flex >a:hover img.sppb-media-object {
  border-color: #16b99a;
}
.sppb-media.default >a:hover >i,
.sppb-media.flex >a:hover >i {
  border-color: #16b99a;
}
.sppb-media.default >.sppb-media-body >i.fa,
.sppb-media.flex >.sppb-media-body >i.fa {
  color: #79efd9;
}
.sppb-media footer strong {
  color: #19d0ad;
}
.sp-module .sp-module-title,
.sppb-addon-module .sp-module-title {
  color: #1a1a1a;
}
.sp-module .sp-module-title .divider,
.sppb-addon-module .sp-module-title .divider {
  background: #1ee4be;
}
.sp-module .divider,
.sppb-addon-module .divider {
  background: #b3b3b3;
}
.sppb-ajaxt-contact-form .sppb-form-group .sppb-form-control[placeholder]::-webkit-input-placeholder:before {
  color: #4beacc;
}
.sppb-ajaxt-contact-form .sppb-form-group .sppb-form-control[placeholder]:focus {
  border: 1px solid #19d0ad;
  box-shadow: 0 0 5px rgba(22,185,154,0.3);
}
.sppb-addon-ajax-contact.dark .sppb-form-control[placeholder] {
  color: #a5a5a5;
  color: rgba(255,255,255,0.85);
  border: 1px solid #999;
  border: 1px solid rgba(200,200,200,0.8);
  background: transparent;
}
.sppb-addon-ajax-contact.dark .sppb-form-control[placeholder]::-webkit-input-placeholder {
  color: rgba(255,255,255,0.55);
}
.sppb-addon-ajax-contact.dark .sppb-form-control[placeholder]::-webkit-input-placeholder:before {
  color: #27e5c1;
}
.sppb-addon-ajax-contact.dark .sppb-form-control[placeholder]:focus {
  border: 1px solid #35e7c5;
}
.dark .acymailing_form input.inputbox {
  color: #3ee8c8;
}
.dark .acymailing_form input.inputbox:focus {
  border: 1px solid #35e7c5;
}
.error-page .error-page-inner >div.container .btn-error {
  background: #19d0ad;
}
.error-page .error-page-inner >div.container .btn-error:hover {
  background: #16b99a;
}
.error-page .error-page-inner >div.container .fa-exclamation-triangle {
  color: #35e7c5;
}
.error-page .error-page-inner >div.container .error-code {
  color: #1ee4be;
}
.error-page .error-page-inner.with-bckg-img div.container .pe-7s-compass {
  color: #fff;
  text-shadow: 1px 3px 6px rgba(0,0,0,0.1);
}
.error-page .error-page-inner.with-bckg-img div.container .error-code {
  color: #19d0ad;
}
.sp-layer h1,
.sp-layer h2,
.sp-layer h3,
.sp-layer h4,
.sp-layer h5,
.sp-layer h6,
.sp-layer i.major_color {
  color: #19d0ad;
}
.sp-button {
  border-color: #35e7c5 !important;
}
.sp-selected-button {
  background-color: #16b99a !important;
}
.vmCartModule #cd-lateral-nav .cd-navigation {
  color: #000000;
}
.vmCartModule #cd-lateral-nav .cd-navigation .cart-item .product_name a {
  color: #16b99a !important;
}
.vmCartModule #cd-lateral-nav .cd-navigation .cart-item .product_name a:hover {
  color: #0e7561 !important;
}
.vmCartModule #cd-lateral-nav .cd-navigation .show-cart {
  color: #fff;
}
.quantity {
  background-color: rgba(22,185,154,0.8);
}
.cd-customization .add-to-cart {
  background-color: #16b99a;
}
.cd-customization .add-to-cart:hover {
  background-color: #12997f;
}
.no-touch .cd-customization .add-to-cart:hover {
  background-color: darker(#16b99a,7%);
}
.productdetails-view .vm-product-details-inner .product-price .vm-price-desc+span {
  color: #16b99a;
}
.productdetails-view .vm-product-details-inner .product-short-description h4 {
  color: #555;
}
.productdetails-view .vm-product-details-inner .product-short-description h4 >i {
  color: #27e5c1;
}
.productdetails-view .vm-product-details-inner .product-neighbours a.previous-page:before,
.productdetails-view .vm-product-details-inner .product-neighbours a.previous-page:after,
.productdetails-view .vm-product-details-inner .product-neighbours a.next-page:before,
.productdetails-view .vm-product-details-inner .product-neighbours a.next-page:after {
  color: #fff;
  background: rgba(85,85,85,0.3);
}
.productdetails-view .vm-product-details-inner .product-neighbours a.previous-page:hover:before,
.productdetails-view .vm-product-details-inner .product-neighbours a.previous-page:hover:after,
.productdetails-view .vm-product-details-inner .product-neighbours a.next-page:hover:before,
.productdetails-view .vm-product-details-inner .product-neighbours a.next-page:hover:after {
  background: #16b99a;
}
.productdetails-view .vm-product-details-inner .product-neighbours .empty-previous-page,
.productdetails-view .vm-product-details-inner .product-neighbours .empty-next-page {
  color: #fff;
  text-shadow: 1px 1px 0px rgba(85,85,85,0.08);
  box-shadow: inset 0 0 0 1px rgba(85,85,85,0.08);
}
.productdetails-view .icons a {
  box-shadow: inset 0 0 0 1px rgba(85,85,85,0.1);
}
.productdetails-view .icons a:hover {
  color: #fff;
  background: rgba(22,185,154,0.8);
}
.productdetails-view .products-desc-tab .nav-tabs >li.active >a {
  background: transparent;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #e2e2e2;
  border-left: 1px solid #e2e2e2;
  box-shadow: 0 -1px 0px #16b99a;
  border-top: 1px solid rgba(22,185,154,0.8);
}
.productdetails-view .products-desc-tab .tab-content .customer-reviews .list-reviews span.date >i {
  color: #35e7c5;
}
.empty_cart >i.pe >span {
  color: #fff;
  background-color: rgba(22,185,154,0.35);
}
#fancybox-wrap #fancybox-content .continue_link,
#fancybox-wrap #fancybox-content .showcart {
  color: #fff;
  background-color: #16b99a;
}
.cart-view input[value="Logout"],
.cart-view input[name="changeShopper"],
.cart-view input[value="Search in shop"] {
  background-color: #16b99a;
}
.cart-view input[value="Logout"]:hover,
.cart-view input[name="changeShopper"]:hover,
.cart-view input[value="Search in shop"]:hover {
  background: #13a287;
}
.cart-view fieldset.userdata #com-form-login-remember input {
  background-color: #16b99a;
}
.cart-view fieldset.userdata #com-form-login-remember input:hover {
  background-color: #118b74;
}
.cart-view .billto-shipto a.details {
  background: #16b99a;
}
.cart-view .billto-shipto a.details:hover {
  background: #118b74;
}
.cart-view table.cart-summary tr th {
  background: #16b99a;
  border: solid 1px #16b99a;
}
.cart-view table.cart-summary input.details-button {
  background: #16b99a;
}
.cart-view table.cart-summary .vm2-add_quantity_cart {
  background: #16b99a;
}
.sectiontableentry1 td a.change-payment {
  color: #1ee4be;
}
.sectiontableentry1 td a.change-payment:hover {
  color: #16b99a;
}
.vm-button-correct {
  background-color: #16b99a;
}
.vm-button-correct:hover {
  background-color: #13a287;
}
.vm-button {
  background-color: #1ee4be;
}
#com-form-login-remember input.default {
  background: #16b99a;
}
#com-form-login-remember input.default:hover {
  background: #13a287;
}
.control-buttons .vm-button-correct {
  background-color: rgba(255,255,255,0.75);
  border-color: #666666;
  color: #666666;
}
.control-buttons .vm-button-correct:hover,
.control-buttons .vm-button-correct:focus {
  background-color: rgba(255,255,255,0.95);
  border-color: #16b99a;
  color: #16b99a;
}
.control-buttons button.default {
  background: #16b99a;
}
.control-buttons button.default:hover {
  background: #13a287;
}
span.userfields_info {
  color: #16b99a;
  border-bottom: 1px solid #16b99a;
}
.orderby-displaynumber .vm-order-list .orderlistcontainer {
  border: 1px solid rgba(128,128,128,0.2);
}
.orderby-displaynumber .vm-order-list .orderlistcontainer .title:before {
  color: #959595;
}
.orderby-displaynumber .vm-order-list .orderlistcontainer .orderlist {
  border-left: 1px solid rgba(128,128,128,0.3);
  border-right: 1px solid rgba(128,128,128,0.3);
  background: rgba(255,255,255,0.9);
}
.orderby-displaynumber .vm-order-list .orderlistcontainer .orderlist div a {
  color: #000000;
  border-bottom: 1px solid rgba(128,128,128,0.3);
}
.sp-module-content .vm-menu > ul li a {
  color: #333333;
}
.sp-module-content .vm-menu > ul li a:hover {
  color: #0d0d0d;
}
.sp-module-content ul.VMmenu li div > a >.nmb_products {
  color: #000000;
}
.vm-flex-search input:focus {
  border: 1px solid #16b99a;
}
.vm-flex-search input:focus + .vm-search-button >i {
  color: #16b99a;
}
.vm-flex-search .vm-search-button >i {
  color: #35e7c5;
}
.currency-selector-module button.btn >i,
.currency-selector-module input.btn >i {
  color: #555;
}
.currency-selector-module button.btn >i:hover,
.currency-selector-module input.btn >i:hover {
  color: #16b99a;
}
.chzn-container-active .chzn-single {
  border: 1px solid #16b99a !important;
}
.chzn-container-active.chzn-with-drop .chzn-results li.highlighted {
  background: rgba(0,0,0,0.4);
}
.vm-price-box ins {
  color: #16b99a;
}
.vm-menu .vm-title {
  color: #595959;
  border-top: 1px solid #1ee4be;
}
.vm-menu ul.productdetails li .spacer-inner .PricesalesPrice {
  color: #16b99a;
}
.vm-menu ul.productdetails li a {
  color: #333333 !important;
}
.vm-menu ul.productdetails li a:hover {
  color: #0d0d0d !important;
}
header.color .vm-menu .vm-title {
  color: #262626;
  border-top: 1px solid rgba(0,0,0,0.35);
}
header.color .vm-menu ul.productdetails li {
  box-shadow: 0 1px 0px rgba(0,0,0,0.35);
}
header.color .vm-menu ul.productdetails li .spacer-inner .PricesalesPrice {
  color: #000000;
}
header.color .vm-menu ul.productdetails:last-child li {
  box-shadow: none;
}
.alert-notice {
  box-shadow: 0 0 0 1px rgba(85,85,85,0.1), 0 2px 3px rgba(85,85,85,0.07);
}
@keyframes fade-in {
  to {
    opacity: 1;
    fill: rgba(22,185,154,0.9);
    stroke-dashoffset: 0;
    stroke-width: 0;
  }
}
@keyframes flex_after_fade_default {
  to {
    opacity: 1;
    stroke-width: 0;
    stroke-dashoffset: 0;
    fill: rgba(85,85,85,0.7);
    stroke: rgba(85,85,85,0.7);
  }
}
@keyframes flex_after_f_top {
  to {
    opacity: 1;
    stroke-width: 5;
    stroke-dashoffset: 0;
    fill: rgba(22,185,154,0.85);
    stroke: #16b99a;
  }
}
