a.acymailing_togglemodule {
    display: block;
    font-size: 16px;
    text-decoration: none !important;
}
.newletter-class{
  width: 201px !important;  
  text-decoration: none  !important;  
}
.terms-condition-text{
  text-align:justify;  
  padding: 0px 25px;
}
#sppb-addon-1519897881402 {
    color: #ffffff !important;  
    background-color: rgba(34,169,225,0.9) !important;  
    box-shadow: 0 0 0 0 #ffffff !important;  
    border-radius: 5px !important;  
    margin: 11px 11px 11px 11px !important;  
    padding: 6px 6px 6px 76px !important;  
}
.privacy-policy-text{
  text-align:justify;  
  padding: 0px 25px;
}

.sp-footer1{
  text-align:left;
}

.sp-copyright{
  font-size: 12px;
}

select#limit {
    max-width: 71px !important;
}

.orderby-displaynumber .display-number select {
    max-width: 71px !important;
}



input#mod_virtuemart_search{
  height: 40px;
    width: 91%;
    border-radius: 6px;
    border: 2px solid #4fa1e7;
    box-shadow: 3px 1px 5px 0.5px #4fa8e7;  
}

.search:before {
    margin-right: 10%;
    margin-top: 3px;
}

/**
i.fa.fa-facebook-square, i.fa.fa-twitter-square, i.fa.fa-linkedin-square, i.fa.fa-pinterest-square, i.fa.fa-youtube-square {
    background: linear-gradient(#fff, #fff) no-repeat, linear-gradient(#fff, #fff) no-repeat !important;
    background-position: center top 5px, center bottom 2px !important;
    background-size: 75% 45% !important;
    border-radius: 100% !important;
}
**/

.feature-text-size{
  font-size:12px !important;
}

.green-tick-color.sppb-pricing-features{
  color: #1f6915;
}
.red-tick-color{
  color:red;
}

.sppb-pricing-box .sppb-pricing-header >.sppb-pricing-title{
  font-size:110% !important;
  
}

@media (max-width: 320 px) {
   img.sp-retina-logo {
       width: 70% !important; 
   }
}

input#user_email_formAcymailing63021 {
    width: 95% !important;
}
input#user_name_formAcymailing63021{
   width: 95% !important;
}