.btn.jmodedit {
  background-color: rgba(34,169,225,0.87);
  background-image: none;
  box-shadow: 0 1px 5px rgba(0,0,0,0.3);
  min-height: 32px;
  text-align: center;
  top: 1px;
  right: 1px;
  overflow: hidden;
}
.btn.jmodedit::before {
  font-family: 'peIcon7';
  content: "\e62c";
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
  font-size: 22px;
  line-height: 25px;
  right: 16px;
  text-align: center;
  vertical-align: middle;
  display: block;
  position: absolute;
  top: 1px;
}
.layout-edit select.inputbox,
.layout-edit select {
  width: 250px;
  max-width: 100%;
}
.layout-edit .btn-toolbar {
  margin-bottom: 20px;
}
.layout-edit .btn-toolbar .btn .fa {
  margin-right: 3px;
  margin-left: -3px;
}
.layout-edit .btn-toolbar .btn .fa.fa-archive {
  margin-right: 6px;
}
.layout-edit .tab-content {
  padding-top: 20px;
}
.layout-edit #editor-xtd-buttons,
.layout-edit .toggle-editor {
  margin-top: 20px;
}
.layout-edit .btn-group input[type="radio"] {
  display: none;
}
iframe,
svg {
  max-width: 100%;
}
#sbox-content > iframe {
  height: 100%;
}
.alert.alert-message {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
}
.alert.alert-message h4 {
  color: #468847;
}
.manager.thumbnails {
  list-style: none;
  padding: 0;
  margin: 0 0 0 -20px;
}
.manager.thumbnails li {
  text-align: center;
  display: block;
  float: left;
  width: 80px;
  height: 80px;
  line-height: 18px;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.055);
  box-shadow: 0 1px 3px rgba(0,0,0,0.055);
  position: relative;
}
.manager.thumbnails li [class^="icon-"],
.manager.thumbnails li [class*=" icon-"] {
  font-size: 14px;
  line-height: 14px;
  color: #08c;
  display: inline-block;
  margin-top: 6px;
}
.manager.thumbnails li .height-50 {
  margin-top: 4px;
  height: 50px;
  margin-bottom: 4px;
}
.manager.thumbnails li a {
  text-decoration: none;
  color: #08c;
  font-size: 13px;
}
.manager.thumbnails li:hover {
  background: #f7fcff;
  border-color: rgba(82,168,236,0.8);
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(82,168,236,0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(82,168,236,0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(82,168,236,0.6);
  -webkit-transition: all 400ms;
  transition: all 400ms;
}
#mailto-window {
  margin: 20px;
}
#mailto-window >h2 {
  font-size: 18px;
  margin-top: 0;
}
#mailto-window input[type="text"] {
  height: auto !important;
}
.chzn-container.chzn-container-multi input[type="text"] {
  min-height: 30px;
}
#sppostformats .sp-image-upload-wrapper {
  width: 300px;
}
#sppostformats .sp-image-upload-wrapper img {
  width: 300px;
  object-fit: cover;
}
#sppostformats .post-formats {
  padding: 0 !important;
  border-radius: 4px;
  margin: 0 0 10px;
}
#sppostformats .post-formats label {
  border: 1px solid #bbb;
  padding: 7px 12px;
  margin: 0 0 10px -1px;
}
#sppostformats .controls input {
  min-width: 460px;
}
#sppostformats textarea {
  min-width: 460px;
  width: 99%;
  min-height: 120px;
}
#sppostformats .sp-gallery-field ul.sp-gallery-items li {
  height: 100px;
  width: 180px;
}
#sppostformats .sp-gallery-field ul.sp-gallery-items li a.btn-remove-image {
  padding: 5px 12px;
}
#sppostformats .sp-gallery-field ul.sp-gallery-items li img {
  width: 180px;
  object-fit: cover;
}
#sppostformats .sp-gallery-field .btn-sp-gallery-item-upload {
  border: 1px solid rgba(0,0,0,0.15);
  background-color: #4fbae7;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}
#sppostformats .sp-gallery-field .btn-sp-gallery-item-upload:hover {
  background-color: #22a9e1;
}
.flex-edit .fa-archive {
  margin-right: 7px;
}
div#images {
  overflow: hidden;
}
.edit-article {
  margin: 0;
  float: right;
  display: inline-block;
  position: relative;
  width: 100px;
  z-index: 2;
}
.btn.dropdown-toggle {
  border: 1px solid #38b2e4;
  background: transparent;
  padding: 5px;
  color: #777;
}
.btn.dropdown-toggle:before {
  font-family: 'peIcon7';
  content: "\e62c";
  font-size: 21px;
  line-height: 24px;
  margin: 0 7px 0 10px;
}
.btn.dropdown-toggle:hover {
  border: 1px solid #1c99ce;
  color: #444;
}
.btn.dropdown-toggle .icon-cog {
  display: none;
}
.btn.dropdown-toggle .caret {
  margin: 12px 8px 0 0;
  vertical-align: top;
}
.media-preview.add-on {
  height: 34px;
  margin-left: 1px;
  background: transparent;
  width: 42px;
}
.media-preview.add-on > .hasTipPreview {
  line-height: 26px;
}
a.modal.btn {
  position: relative;
  background: #38b2e4;
  line-height: 16px;
  color: #fff;
  z-index: 1;
}
a.modal.btn:hover {
  background: #1c99ce;
}
a.btn.hasTooltip {
  position: absolute;
  line-height: 16px;
  padding-left: 4px;
  padding-right: 4px;
  display: inline-block;
  background: #eee;
  border: 1px solid #ccc;
  text-align: center;
}
.icon-remove {
  background-image: none;
  font-style: normal;
  padding-left: 12px;
  padding-right: 17px;
}
.icon-remove:before {
  font-family: 'FontAwesome';
  content: "\f00d";
  font-style: normal;
}
.calendar table {
  width: 100%;
  background: #e9e9e9;
}
.calendar table .button {
  border-radius: 0;
  background: #999;
  border: 1px solid rgba(0,0,0,0.2);
  display: table-cell;
}
.calendar table .button:hover {
  background: #333;
  color: #fff;
}
.calendar table tbody td {
  text-align: center !important;
}
.input-append button[id^="jform_publish"] {
  background: #38b2e4;
  line-height: 16px;
  padding-left: 16px;
  padding-right: 15px;
  color: #fff;
}
.input-append button[id^="jform_publish"]:hover {
  background: #1c99ce;
}
textarea#jform_metadesc {
  min-width: 470px;
  min-height: 150px;
}
.js-calendar {
  min-width: 264px;
  width: auto;
  padding: 8px !important;
  background: rgba(255,255,255,0.9);
  border-radius: 5px !important;
}
.js-calendar .buttons-wrapper .btn-exit,
.js-calendar .buttons-wrapper .btn-today,
.js-calendar .buttons-wrapper .btn-clear {
  margin: 3px;
  padding: 5px 18px;
  border-radius: 4px !important;
  text-align: center;
  border: 1px solid #ddd;
}
