h1 { font-size:20px; margin:0px; margin-bottom:15px; padding:0px; font-weight:bold; color:#01bbe5 !important; } 
h2 { font-size:12px; font-weight:bold; color:#565656 !important; text-transform:uppercase; margin:10px 0px; padding:0px; padding-bottom:5px; border-bottom:1px solid #ddd; } 
h3 { color:#565656 !important; font-weight:bold; font-size:12px; margin:0px; margin-bottom:10px; padding:0px; } 
body{background-color:#575757;} 
a { cursor:pointer;color:#01bbe5;text-decoration:none;border:none; } 
.acymailing_online {color:#d2d1d1; cursor:pointer;} 
.acymailing_unsub {color:#d2d1d1; cursor:pointer;} 
.acymailing_readmore {cursor:pointer; font-weight:bold; color:#fff; background-color:#01bbe5; padding:2px 5px;} 
a img{ border:0px; text-decoration:none;} 
table, div, p , td{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}
p{margin:0px; padding:0px}

.special h2{font-size:18px;
	margin:0px;
	margin-bottom:15px;
	padding:0px;
	font-weight:bold;
	color:#01bbe5 !important;
	text-transform:none;
	border:none}

.links a{color:#ababab}

@media (min-width:10px){
	.w600 { width:320px !important;}
	.w540 { width:260px !important;}
	.w30 { width:30px !important;}
	.w600 img {max-width:320px; height:auto !important}
	.w540 img {max-width:260px; height:auto !important}
}

@media (min-width: 480px){
	.w600 { width:480px !important;}
	.w540 { width:420px !important;}
	.w30 { width:30px !important;}
	.w600 img {max-width:480px; height:auto !important}
	.w540 img {max-width:420px; height:auto !important}
}

@media (min-width:600px){
	.w600 { width:600px !important;}
	.w540 { width:540px !important;}
	.w30 { width:30px !important;}
	.w600 img {max-width:600px; height:auto !important}
	.w540 img {max-width:540px; height:auto !important}
}
