/* Ion.RangeSlider, Flat UI Skin
// css version 2.0.3
// © Denis Ineshin, 2014    https://github.com/IonDen
// ===================================================================================================================*/

/* =====================================================================================================================
// Skin details */

/* Skin Flat */

.rsfp-skinFlat .irs-line-mid,
.rsfp-skinFlat .irs-line-left,
.rsfp-skinFlat .irs-line-right,
.rsfp-skinFlat .irs-bar,
.rsfp-skinFlat .irs-bar-edge,
.rsfp-skinFlat .irs-slider {
    background: url(./img/sprite-skin-flat.png) repeat-x;
}

.rsfp-skinFlat .irs {
    height: 40px;
}
.rsfp-skinFlat.irs-with-grid {
    height: 60px;
}
.rsfp-skinFlat .irs-line {
    height: 12px; top: 25px;
}
    .rsfp-skinFlat .irs-line-left {
        height: 12px;
        background-position: 0 -30px;
    }
    .rsfp-skinFlat .irs-line-mid {
        height: 12px;
        background-position: 0 0;
    }
    .rsfp-skinFlat .irs-line-right {
        height: 12px;
        background-position: 100% -30px;
    }

.rsfp-skinFlat .irs-bar {
    height: 12px; top: 25px;
    background-position: 0 -60px;
}
    .rsfp-skinFlat .irs-bar-edge {
        top: 25px;
        height: 12px; width: 9px;
        background-position: 0 -90px;
    }

.rsfp-skinFlat .irs-shadow {
    height: 3px; top: 34px;
    background: #000;
    opacity: 0.25;
}
.rsfp-skinFlat .lt-ie9 .irs-shadow {
    filter: alpha(opacity=25);
}

.rsfp-skinFlat .irs-slider {
    width: 16px; height: 18px;
    top: 22px;
    background-position: 0 -120px;
}
.rsfp-skinFlat .irs-slider.state_hover, .rsfp-skinFlat .irs-slider:hover {
    background-position: 0 -150px;
}

.rsfp-skinFlat .irs-min, .rsfp-skinFlat .irs-max {
    color: #999;
    font-size: 10px; line-height: 1.333;
    text-shadow: none;
    top: 0; padding: 1px 3px;
    background: #e1e4e9;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.rsfp-skinFlat .irs-from, .rsfp-skinFlat .irs-to, .rsfp-skinFlat .irs-single {
    color: #fff;
    font-size: 10px; line-height: 1.333;
    text-shadow: none;
    padding: 1px 5px;
    background: #ed5565;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.rsfp-skinFlat .irs-from:after, .rsfp-skinFlat .irs-to:after, .rsfp-skinFlat .irs-single:after {
    position: absolute; display: block; content: "";
    bottom: -6px; left: 50%;
    width: 0; height: 0;
    margin-left: -3px;
    overflow: hidden;
    border: 3px solid transparent;
    border-top-color: #ed5565;
}


.rsfp-skinFlat .irs-grid-pol {
    background: #e1e4e9;
}
.rsfp-skinFlat .irs-grid-text {
    color: #999;
}

.rsfp-skinFlat .irs-disabled {
}

/* Skin HTML5 */
.rsfp-skinHtml5 .irs {
    height: 55px;
}
.rsfp-skinHtml5.irs-with-grid {
    height: 75px;
}
.rsfp-skinHtml5 .irs-line {
    height: 10px; top: 33px;
    background: #EEE;
    background: linear-gradient(to bottom, #DDD -50%, #FFF 150%); /* W3C */
    border: 1px solid #CCC;
    border-radius: 16px;
    -moz-border-radius: 16px;
}
    .rsfp-skinHtml5 .irs-line-left {
        height: 8px;
    }
    .rsfp-skinHtml5 .irs-line-mid {
        height: 8px;
    }
    .rsfp-skinHtml5 .irs-line-right {
        height: 8px;
    }

.rsfp-skinHtml5 .irs-bar {
    height: 10px; top: 33px;
    border-top: 1px solid #428bca;
    border-bottom: 1px solid #428bca;
    background: #428bca;
    background: linear-gradient(to top, rgba(66,139,202,1) 0%,rgba(127,195,232,1) 100%); /* W3C */
}
    .rsfp-skinHtml5 .irs-bar-edge {
        height: 10px; top: 33px;
        width: 14px;
        border: 1px solid #428bca;
        border-right: 0;
        background: #428bca;
        background: linear-gradient(to top, rgba(66,139,202,1) 0%,rgba(127,195,232,1) 100%); /* W3C */
        border-radius: 16px 0 0 16px;
        -moz-border-radius: 16px 0 0 16px;
    }

.rsfp-skinHtml5 .irs-shadow {
    height: 2px; top: 38px;
    background: #000;
    opacity: 0.3;
    border-radius: 5px;
    -moz-border-radius: 5px;
}
.rsfp-skinHtml5 .lt-ie9 .irs-shadow {
    filter: alpha(opacity=30);
}

.rsfp-skinHtml5 .irs-slider {
    top: 25px;
    width: 27px; height: 27px;
    border: 1px solid #AAA;
    background: #DDD;
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(220,220,220,1) 20%,rgba(255,255,255,1) 100%); /* W3C */
    border-radius: 27px;
    -moz-border-radius: 27px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
    cursor: pointer;
}

.rsfp-skinHtml5 .irs-slider.state_hover, .rsfp-skinHtml5 .irs-slider:hover {
    background: #FFF;
}

.rsfp-skinHtml5 .irs-min, .rsfp-skinHtml5 .irs-max {
    color: #333;
    font-size: 12px; line-height: 1.333;
    text-shadow: none;
    top: 0;
    padding: 1px 5px;
    background: rgba(0,0,0,0.1);
    border-radius: 3px;
    -moz-border-radius: 3px;
}

.rsfp-skinHtml5 .lt-ie9 .irs-min, .rsfp-skinHtml5 .lt-ie9 .irs-max {
    background: #ccc;
}

.rsfp-skinHtml5 .irs-from, .rsfp-skinHtml5 .irs-to, .rsfp-skinHtml5 .irs-single {
    color: #fff;
    font-size: 14px; line-height: 1.333;
    text-shadow: none;
    padding: 1px 5px;
    background: #428bca;
    border-radius: 3px;
    -moz-border-radius: 3px;
}
.rsfp-skinHtml5 .lt-ie9 .irs-from, .rsfp-skinHtml5 .lt-ie9 .irs-to, .rsfp-skinHtml5 .lt-ie9 .irs-single {
    background: #999;
}

.rsfp-skinHtml5 .irs-grid {
    height: 27px;
}
.rsfp-skinHtml5 .irs-grid-pol {
    opacity: 0.5;
    background: #428bca;
}
.rsfp-skinHtml5 .irs-grid-pol.small {
    background: #999;
}

.rsfp-skinHtml5 .irs-grid-text {
    bottom: 5px;
    color: #99a4ac;
}

.rsfp-skinHtml5 .irs-disabled {
}

/* Skin Modern */
.rsfp-skinModern .irs-line-mid,
.rsfp-skinModern .irs-line-left,
.rsfp-skinModern .irs-line-right,
.rsfp-skinModern .irs-bar,
.rsfp-skinModern .irs-bar-edge,
.rsfp-skinModern .irs-slider {
    background: url(./img/sprite-skin-modern.png) repeat-x;
}

.rsfp-skinModern .irs {
    height: 50px;
}
.rsfp-skinModern.irs-with-grid {
    height: 70px;
}
.rsfp-skinModern .irs-line {
    height: 6px; top: 25px;
}
    .rsfp-skinModern .irs-line-left {
        height: 6px;
        background-position: 0 -30px;
    }
    .rsfp-skinModern .irs-line-mid {
        height: 6px;
        background-position: 0 0;
    }
    .rsfp-skinModern .irs-line-right {
        height: 6px;
        background-position: 100% -30px;
    }

.rsfp-skinModern .irs-bar {
    height: 6px; top: 25px;
    background-position: 0 -60px;
}
    .rsfp-skinModern .irs-bar-edge {
        top: 25px;
        height: 6px; width: 6px;
        background-position: 0 -90px;
    }

.rsfp-skinModern .irs-shadow {
    height: 5px; top: 25px;
    background: #000;
    opacity: 0.25;
}
.rsfp-skinModern .lt-ie9 .irs-shadow {
    filter: alpha(opacity=25);
}

.rsfp-skinModern .irs-slider {
    width: 11px; height: 18px;
    top: 31px;
    background-position: 0 -120px;
}
.rsfp-skinModern .irs-slider.state_hover, .rsfp-skinModern .irs-slider:hover {
    background-position: 0 -150px;
}

.rsfp-skinModern .irs-min, .rsfp-skinModern .irs-max {
    color: #999;
    font-size: 10px; line-height: 1.333;
    text-shadow: none;
    top: 0; padding: 1px 3px;
    background: #e1e4e9;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.rsfp-skinModern .irs-from, .rsfp-skinModern .irs-to, .rsfp-skinModern .irs-single {
    color: #fff;
    font-size: 10px; line-height: 1.333;
    text-shadow: none;
    padding: 1px 5px;
    background: #20b426;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.rsfp-skinModern .irs-from:after, .rsfp-skinModern .irs-to:after, .rsfp-skinModern .irs-single:after {
    position: absolute; display: block; content: "";
    bottom: -6px; left: 50%;
    width: 0; height: 0;
    margin-left: -3px;
    overflow: hidden;
    border: 3px solid transparent;
    border-top-color: #20b426;
}

.rsfp-skinModern .irs-grid {
    height: 34px;
}
.rsfp-skinModern .irs-grid-pol {
    background: #c0c0c0;
}
.rsfp-skinModern .irs-grid-text {
    bottom: 12px;
    color: #c0c0c0;
}

.rsfp-skinModern .irs-disable-mask {

}
.rsfp-skinModern .irs-disabled {

}
.rsfp-skinModern .lt-ie9 .irs-disabled {

}

/* Skin Nice */

.rsfp-skinNice .irs-line-mid,
.rsfp-skinNice .irs-line-left,
.rsfp-skinNice .irs-line-right,
.rsfp-skinNice .irs-bar,
.rsfp-skinNice .irs-bar-edge,
.rsfp-skinNice .irs-slider {
    background: url(./img/sprite-skin-nice.png) repeat-x;
}

.rsfp-skinNice .irs {
    height: 40px;
}
.rsfp-skinNice.irs-with-grid {
    height: 60px;
}
.rsfp-skinNice .irs-line {
    height: 8px; top: 25px;
}
    .rsfp-skinNice .irs-line-left {
        height: 8px;
        background-position: 0 -30px;
    }
    .rsfp-skinNice .irs-line-mid {
        height: 8px;
        background-position: 0 0;
    }
    .rsfp-skinNice .irs-line-right {
        height: 8px;
        background-position: 100% -30px;
    }

.rsfp-skinNice .irs-bar {
    height: 8px; top: 25px;
    background-position: 0 -60px;
}
    .rsfp-skinNice .irs-bar-edge {
        top: 25px;
        height: 8px; width: 11px;
        background-position: 0 -90px;
    }

.rsfp-skinNice .irs-shadow {
    height: 1px; top: 34px;
    background: #000;
    opacity: 0.15;
}
.rsfp-skinNice .lt-ie9 .irs-shadow {
    filter: alpha(opacity=15);
}

.rsfp-skinNice .irs-slider {
    width: 22px; height: 22px;
    top: 17px;
    background-position: 0 -120px;
}
.rsfp-skinNice .irs-slider.state_hover, .rsfp-skinNice .irs-slider:hover {
    background-position: 0 -150px;
}

.rsfp-skinNice .irs-min, .rsfp-skinNice .irs-max {
    color: #999;
    font-size: 10px; line-height: 1.333;
    text-shadow: none;
    top: 0; padding: 1px 3px;
    background: rgba(0,0,0,0.1);
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.rsfp-skinNice .lt-ie9 .irs-min, .rsfp-skinNice .lt-ie9 .irs-max {
    background: #ccc;
}

.rsfp-skinNice .irs-from, .rsfp-skinNice .irs-to, .rsfp-skinNice .irs-single {
    color: #fff;
    font-size: 10px; line-height: 1.333;
    text-shadow: none;
    padding: 1px 5px;
    background: rgba(0,0,0,0.3);
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.rsfp-skinNice .lt-ie9 .irs-from, .rsfp-skinNice .lt-ie9 .irs-to, .rsfp-skinNice .lt-ie9 .irs-single {
    background: #999;
}

.rsfp-skinNice .irs-grid-pol {
    background: #99a4ac;
}
.rsfp-skinNice .irs-grid-text {
    color: #99a4ac;
}

.rsfp-skinNice .irs-disabled {
}

/* Skin Simple */
.rsfp-skinSimple .irs-line-mid,
.rsfp-skinSimple .irs-line-left,
.rsfp-skinSimple .irs-line-right,
.rsfp-skinSimple .irs-bar,
.rsfp-skinSimple .irs-bar-edge,
.rsfp-skinSimple .irs-slider {
    background: url(./img/sprite-skin-simple.png) repeat-x;
}

.rsfp-skinSimple .irs {
    height: 40px;
}
.rsfp-skinSimple.irs-with-grid {
    height: 60px;
}
.rsfp-skinSimple .irs-line {
    height: 6px; top: 25px;
}
    .rsfp-skinSimple .irs-line-left {
        height: 6px;
        background-position: 0 -30px;
    }
    .rsfp-skinSimple .irs-line-mid {
        height: 6px;
        background-position: 0 0;
    }
    .rsfp-skinSimple .irs-line-right {
        height: 6px;
        background-position: 100% -30px;
    }

.rsfp-skinSimple .irs-bar {
    height: 6px; top: 25px;
    background-position: 0 -60px;
}
    .rsfp-skinSimple .irs-bar-edge {
        top: 25px;
        height: 6px; width: 7px;
        background-position: 0 -90px;
    }

.rsfp-skinSimple .irs-shadow {
    height: 1px; top: 34px;
    background: #000;
    opacity: 0.75;
}
.rsfp-skinSimple .lt-ie9 .irs-shadow {
    filter: alpha(opacity=75);
}

.rsfp-skinSimple .irs-slider {
    width: 8px; height: 15px;
    top: 21px;
    background-position: 0 -120px;
}
.rsfp-skinSimple .irs-slider.state_hover, .rsfp-skinSimple .irs-slider:hover {
    background-position: 0 -150px;
}

.rsfp-skinSimple .irs-min, .rsfp-skinSimple .irs-max {
    color: #c0c0c0;
    font-size: 10px; line-height: 1.333;
    text-shadow: none;
    top: 0; padding: 1px 3px;
    background: rgba(0,0,0,0.1);
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.rsfp-skinSimple .lt-ie9 .irs-min, .rsfp-skinSimple .lt-ie9 .irs-max {
    background: #3654b0;
}

.rsfp-skinSimple .irs-from, .rsfp-skinSimple .irs-to, .rsfp-skinSimple .irs-single {
    color: #000;
    font-size: 10px; line-height: 1.333;
    text-shadow: none;
    padding: 1px 5px;
    background: rgba(255,255,255,0.8);
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.rsfp-skinSimple .lt-ie9 .irs-from, .rsfp-skinSimple .lt-ie9 .irs-to, .rsfp-skinSimple .lt-ie9 .irs-single {
    background: #d8dff3;
}

.rsfp-skinSimple .irs-grid-pol {
    background: #777;
}
.rsfp-skinSimple .irs-grid-text {
    color: #e0e0e0;
}

.rsfp-skinSimple .irs-disabled {
}