/**
 * @package    AcyMailing for Joomla!
 * @version    5.9.1
 * @author     acyba.com
 * @copyright  (C) 2009-2018 ACYBA S.A.R.L. All rights reserved.
 * @license    GNU/GPLv3 http://www.gnu.org/licenses/gpl-3.0.html
 */

@import url("component_default_color_black.css");




#acyarchivelisting .inputbox:hover, #acyuserinfo .inputbox:hover{
	border:1px solid #9e9c07!important;
	border-bottom: 1px solid #727127!important;
	border-right: 1px solid #727127!important;
	}


#acyarchivelisting .contentpane tbody .button, #acymodifyform .button, #unsubbutton_div .button {
	color:#fff !important;
	background-color:#727127 !important;
}

#acyarchivelisting .contentpane tbody .button:hover, #acymodifyform .button:hover, #unsubbutton_div .button:hover {
    color:#fff!important;
	background-color:#9e9c07 !important;
}
	

#acyarchivelisting .contentheading{
	color:#727127;
	border-bottom:1px solid #727127;
}


#acyarchivelisting .contentpane .contentdescription{
	color:#9e9c07;
}

#acyarchivelisting .contentpane tbody .sectiontableentry1 a:hover{
	color:#9e9c07;
}

#acyarchivelisting .contentpane tbody .sectiontableentry2 a:hover{
	color:#9e9c07;
}

#acyarchivelisting .sectiontableheader a:hover{
	color:#9e9c07;
}




#acyarchiveview .contentheading{
	color:#9e9c07;}
	
	



#acylistslisting .componentheading{
	color:#727127;
	border-bottom:1px solid #727127;
}

#acylistslisting .list_name a{
    color:#9e9c07;
}

#acylistslisting .list_name a:hover, #acylistslisting .list_name a:focus {
	color:#9e9c07;
}



#acymodifyform legend{
	color:#727127;
	border-bottom:1px solid #727127;
}

#acyusersubscription th{
	color:#fff;
	background-color:#730028;}
	
	
#acyusersubscription .list_name{
    color: #9e9c07;
}
	


#unsubpage .unsubintro{
	border-bottom: 1px solid #727127;
    color: #727127;}
	
#unsubpage .unsubsurveytext{
   	border-bottom: 1px solid #727127;
    color: #727127;
}



