/**
 * @package    AcyMailing for Joomla!
 * @version    5.9.1
 * @author     acyba.com
 * @copyright  (C) 2009-2018 ACYBA S.A.R.L. All rights reserved.
 * @license    GNU/GPLv3 http://www.gnu.org/licenses/gpl-3.0.html
 */

@import url("component_default.css");



#acyarchivelisting .inputbox, #acyuserinfo .inputbox, #acyuserinfo input .inputbox {
	border:1px solid #ddd;
	border-bottom:1px solid #ccc;}
	
#acyarchivelisting .inputbox:hover, #acyuserinfo .inputbox:hover, #acyuserinfo input .inputbox:hover {
	border:1px solid #e37a09;
	border-bottom:1px solid #c55f1c;
	}

#acyarchivelisting .inputbox:focus, #acyuserinfo .inputbox:focus, #acyuserinfo input .inputbox:focus {
	border:1px solid #c55f1c;}



#acyarchivelisting .button, #acymodifyform .button, #unsubpage .button{
	border:none;
	background-color:#cf5402;
	border-bottom:2px solid #aa4502;
	background-image:none;
	color:#FFF;
	padding:2px 3px 1px 3px;
}

#acyarchivelisting .button:hover, #acymodifyform .button:hover, #unsubpage .button:hover{
	background-color:#e37a09;
	border-bottom:2px solid #c55f1c;
	background-image:none;
	color:#FFF;
	padding:2px 3px;
}


#acyarchivelisting{
	background-color:#f8f8f8;
	border:1px solid #dcc2b2;
	padding:20px;
	margin-right:20px;
	margin-bottom:20px;
}

#acyarchivelisting table{
	border:0px !important;}

#acyarchivelisting .contentheading{
	color:#fff;
	background-color:#e37a09;
	font-size:16px;
	border-bottom:6px solid #cf5402;
	padding:4px 0 4px 20px;
}

#acyarchivelisting .contentpane form{
	background-color:#fff;
	border:1px solid #dcc2b2;
	padding:20px;
}


#acyarchivelisting .contentpane .contentdescription{
	color:#7c3200;
	font-weight:bold;
	padding:4px 0 3px 20px;
	background-color:#ffa443;
	border-bottom:2px solid #e37a09;
}

#acyarchivelisting .acynewbutton a:hover, #acyarchivelisting .acynewbutton a:focus{
	background-color:transparent;
	color:#cf5402;
}

#acyarchivelisting .sectiontableheader{
	color:#7C3200;
}

#acyarchivelisting .contentpane thead{
	border-bottom:1px solid #7C3200;
	height:30px;
}

#acyarchivelisting .contentpane tbody{
	color:#7C3200;
}

#acyarchivelisting .sectiontableheader a{
	color:#7C3200;
	text-decoration:none;
	background-color:transparent;
	font-weight:bold;
	font-size:12px;
}

#acyarchivelisting .sectiontableheader a:hover, #acyarchivelisting .sectiontableheader a:focus{
	background-color:transparent;
	color:#cf5402;
}

#acyarchivelisting .sectiontableentry1, #acyarchivelisting .sectiontableentry2{
	text-align:center;
	height:30px;
	border-bottom:1px solid #eee;
}

#acyarchivelisting .sectiontableentry1:hover, #acyarchivelisting .sectiontableentry2:hover{
	background-color:#f5f5f5;
}

#acyarchivelisting .sectiontableentry1 a, #acyarchivelisting .sectiontableentry2 a{
	color:#cf5402;
	text-decoration:none;
	background-color:transparent;
}

#acyarchivelisting .sectiontableentry1 a:hover, #acyarchivelisting .sectiontableentry2 a:hover{
	text-decoration:underline;
	color:#cf5402;
	background-color:transparent;
}

#acyarchivelisting #acymailingsearch{
	margin-bottom:20px;
	padding:2px;}


#acylistslisting{
	background-color:#fffaf5;
	border:1px solid #dcc2b2;
	padding:20px;
	margin-right:20px;
	margin-bottom:20px;
}


#acylistslisting .componentheading{
	color:#fff;
	background-color:#e37a09;
	font-size:16px;
	border-bottom:6px solid #cf5402;
	padding:4px 0 4px 20px;
}


.acymailing_list{
	background-color:#fff;
}


.acymailing_list .list_name{
	color:#7c3200;
	font-weight:bold;
	padding:4px 0 3px 20px;
	background-color:#ffa443;
	border-bottom:2px solid #e37a09;
}

#acylistslisting .list_name a{
	color:#7c3200;
	cursor:pointer;
	text-decoration:none;
	background-color:transparent;
	font-size:14px;
	font-weight:bold;
}

#acylistslisting .list_name a:hover, #acylistslisting .list_name a:focus {
	text-decoration:underline;
	background-color:transparent;
	color:#7c3200;
}


#acylistslisting .list_description{
	color:#333;
	padding-left:20px;
}

div.acymailing_list:hover{
	background-color :#fef5eb;
}

#acylistslisting .contentpane thead td{
	padding-top:20px;
}

#acylistslisting div.acymailing_list{
	border-top:none;
	margin : 0px;
	padding : 0px;
}


#acymodifyform table#acyusersubscription th{
	padding:4px 0 2px 20px;
	color:#7c3200;
	text-align:left;
}

#acyusersubscription .acystatus{
	padding-top:20px;
}

#acymodifyform{
	background-color:#f8f8f8;
	border:1px solid #dcc2b2;
	padding:20px;
	margin-right:20px;
	margin-bottom:20px;
}

#acymodifyform .adminform{
	color:#666;
	text-align:left;
}

#acymodifyform fieldset{
	padding:0px;
}

#acyuserinfo{
	background-color:#fff;
	border:1px solid #dcc2b2;
}


#acyuserinfo select{
	border:1px solid #dcc2b2;}

#acyuserinfo .key{
	color:#cf5402;
	font-weight:bold;
	font-size:11px;
	padding-left:20px;
}

#acyusersubscription thead{
	background-color:#ffa443;
	border-bottom:3px solid #e37a09;
	padding-bottom:20px;
}
#acyusersubscription{
		border:1px solid #dcc2b2;
		border-top:none;
	}

#acyusersubscription tbody{
	background-color:#FFF;
}

#acymodifyform legend{
	color:#fff;
	background-color:#e37a09;
	font-size:16px;
	border-bottom:6px solid #cf5402;
	width:100%;
	padding: 4px 0px;
}

#acymodifyform legend span{
	padding: 0px 20px ;
}

#acyuserinfo input{
	margin:0 5px;
}


#acyusersubscription .list_name{
	text-align:left;
	font-size:12px;
	font-weight:bold;
	margin:0 40px 0 20px;
	color:#cf5402;
	border-bottom:2px solid #ffa443;
	padding-top:20px;
}

#acyusersubscription .list_description{
	text-align:left;
	font-size:12px;
	margin-left:10px;
	color:#333;
}

#acymodifyform .acymodifybutton{
	text-align:center;
}




#unsubpage{
	background-color:#f8f8f8;
	border:1px solid #dcc2b2;
	color:#666;
	padding:20px;
	margin-right:20px;
	margin-bottom:20px;
}

#unsubpage .unsubintro{
	color:#7c3200;
	font-weight:bold;
	padding:2px 0 2px 20px;
	background-color:#ffa443;
	display:block;
	border-bottom:2px solid #e37a09;
	border-top:1px solid #dcc2b2;
	border-right:1px solid #dcc2b2;
	border-left:1px solid #dcc2b2;
}

#unsubpage .unsuboptions{
	background-color:#FFF;
	border:1px solid #dcc2b2;
	padding:5px 20px 20px 20px;
	font-size:11px;
}


#unsubpage .unsubsurvey{
	margin:10px 0 20px 0;
	background-color:#fff;
	padding:0px;
	padding-bottom:20px;
	border:1px solid #dcc2b2;
}

#unsubpage .unsubsurvey .unsubsurveytext{
	color:#7c3200;
	font-weight:bold;
	padding:2px 0 2px 20px;
	background-color:#ffa443;
	border-bottom:2px solid #e37a09;
	display:block;
}

#unsubpage .unsubsurvey div{
	margin-top:5px;
	font-size:11px;
	padding-left:20px;
	padding-top:5px;
}

#unsubpage .unsubsurvey textarea{
	margin-top:15px;
	border:1px solid #ddd;
	border-bottom:1px solid #ccc;
}

#unsubpage .unsubsurvey textarea:hover{
	margin-top:15px;
	border:1px solid #e37a09;
	border-bottom:1px solid #c55f1c;
}

#unsubpage .unsubsurvey textarea:focus {
	border:1px solid #c55f1c;}

#unsubpage .input{
	padding-right:10px;
}

#unsubbutton_div{
	text-align:center;
}

.unsubdiv {
	padding-top:10px;}
	
#unsubpage input{
	margin-right:10px;}
	
	

#acyarchiveview{
	border:1px solid #ccc;
	background-color:#f8f8f8;
	padding:10px;}
	
#acyarchiveview .contentheading{
	font-size:16px;
	font-weight:bold;
	color:#CF5402;
	margin-bottom:10px;}
