/**
 * @package    AcyMailing for Joomla!
 * @version    5.9.1
 * @author     acyba.com
 * @copyright  (C) 2009-2018 ACYBA S.A.R.L. All rights reserved.
 * @license    GNU/GPLv3 http://www.gnu.org/licenses/gpl-3.0.html
 */

@import url("component_default_box_black.css");




#acyarchivelisting .button:hover, #unsubbutton_div .button:hover, #acymodifyform .button:hover {
    color:#b90041;}


#acyarchivelisting .contentheading{
	color:#59001f;
	border-bottom:1px solid #59001f;
}

#acyarchivelisting .contentpane .contentdescription{
	color:#b90041;
}

#acyarchivelisting .sectiontableheader a:hover{
	color:#b90041;
}

#acyarchivelisting .contentpane tbody .sectiontableentry1 a:hover{
	color:#b90041;
}

#acyarchivelisting .contentpane tbody .sectiontableentry2 a:hover{
	color:#b90041;
}



#acyarchiveview .contentheading{
	color:#b90041;
}



#acylistslisting .componentheading{
	color:#59001f;
	border-bottom:1px solid #59001f;
}
#acylistslisting .list_name a{
    color:#b90041;
}

#acylistslisting .list_name a:hover, #acylistslisting .list_name a:focus {
	color:#b90041;
}




#acymodifyform legend{
	color:#59001f;
	border-bottom:1px solid #59001f;
}

#acyusersubscription .list_name{
    color: #b90041;
}
	

#unsubpage .unsubintro{
	color:#b90041;
	border-bottom: 1px solid #b90041;
}
#unsubpage .unsubsurveytext{
    border-bottom: 1px solid #b90041;
    color: #b90041;
}



