/**
 * @package    AcyMailing for Joomla!
 * @version    5.9.1
 * @author     acyba.com
 * @copyright  (C) 2009-2018 ACYBA S.A.R.L. All rights reserved.
 * @license    GNU/GPLv3 http://www.gnu.org/licenses/gpl-3.0.html
 */

div.toolbar { float: right; text-align: right; padding: 0; }
div.toolbar span { float: none; width: 32px; height: 32px; margin: 0 auto; display: block; background-repeat:no-repeat;}
div.toolbar a {
	display: block;
	float: left;
	white-space: nowrap;
	border: 1px solid #fbfbfb;
	padding: 1px 5px;
	cursor: pointer;
	text-align:center;
}
div.toolbar a:hover {
	border-left: 1px solid #eee;
	border-top: 1px solid #eee;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	text-decoration: none;
	color: #0B55C4;
}
div.toolbar span.divider { border-right: 1px solid #eee; width: 5px; }

#acytoolbar tr, #acytoolbar td{
	border:none !important;}

div#acy_content dl.tabs dt {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:#F0F0F0 none repeat scroll 0 0;
	border-left:1px solid #CCCCCC;
	border-right:1px solid #CCCCCC;
	border-top:1px solid #CCCCCC;
	color:#666666;
	float:left;
	margin-left:3px;
	padding:4px 10px;
}

div#acy_content dl.tabs dt.open {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:#F9F9F9 none repeat scroll 0 0;
	border-bottom:1px solid #F9F9F9;
	color:#000000;
	z-index:100;
}

div#acy_content dd,div#acymailing_content dl {
	margin:0;
	padding:0;
}

div#acy_content div.current {
	border:1px solid #CCCCCC;
	clear:both;
	padding:10px;
	max-width: 100%;
}

table.adminlist {
	width: 100%;
	border-spacing: 1px;
	background-color: #e7e7e7;
	color: #666;
}

table.adminlist td,
table.adminlist th { padding: 4px; }

table.adminlist tbody tr.row0:hover td,
table.adminlist tbody tr.row1:hover td  { background-color: #ffd ; }

table.adminlist tbody tr td 	   { height: 25px; background: #fff; border: 1px solid #fff; }
table.adminlist tbody tr.row1 td { background: #f9f9f9; border-top: 1px solid #FFF; }

table.adminlist tfoot tr { text-align: center;  color: #333; }
table.adminlist tfoot td,
table.adminlist tfoot th { background-color: #f3f3f3; border-top: 1px solid #999; text-align: center; }

table.adminlist thead th {
	text-align: center;
	background: #f0f0f0;
	color: #666;
	border-bottom: 1px solid #999;
	border-left: 1px solid #fff;
}

table.adminlist thead a:hover { text-decoration: none; }

table.admintable td.key.vtop { vertical-align: top; }

table.adminform {
	background-color: #f9f9f9;
	border: solid 1px #d5d5d5;
	width: 100%;
	border-collapse: collapse;
	margin: 8px 0 10px 0;
	margin-bottom: 15px;
	width: 100%;
}

table.adminform td { padding: 3px; text-align: left; }

#acytoolbar a:link, #acytoolbar a:visited{
	background-color:transparent;
	text-decoration:none;
}

#acytoolbar a:hover, #acytoolbar a:active, #acytoolbar a:focus  {
	text-decoration:underline;
	background-color:transparent !important;
	color:#095197 !important;
}

#acy_form_menu h1{
	font-size:18px !important;
	padding:0px;
	margin:0px;
}

#acy_content th.title{
	font-size:100%;
}

.icon-32-cancel {background-image:url(../images/icons/icon-32-cancel.png) !important; background-position:0% 0% !important}
.icon-32-send {background-image:url(../images/icons/icon-32-acysend.png) !important; background-position:0% 0% !important}
.icon-32-save {background-image:url(../images/icons/icon-32-save.png) !important; background-position:0% 0% !important}
.icon-32-edit {background-image:url(../images/icons/icon-32-edit.png) !important; background-position:0% 0% !important}
.icon-32-apply {background-image:url(../images/icons/icon-32-apply.png) !important; background-position:0% 0% !important}
.icon-32-delete {background-image:url(../images/icons/icon-32-delete.png) !important; background-position:0% 0% !important}
.icon-32-new {background-image:url(../images/icons/icon-32-new.png) !important; background-position:0% 0% !important}


.tree{
	position: absolute;
	left: 0;
	right: 0;
	background-color: white;
	-webkit-box-shadow: 0 4px 8px #d7d7d7;
	-moz-box-shadow: 0 4px 8px #d7d7d7;
	box-shadow: 0 4px 8px #d7d7d7;
	z-index: 2;
}

.tree li{
	list-style: none;
}

.tree ul{
	margin-left: 10px;
}

.tree > ul{
	margin: 15px 0;
}

.tree-child-item .tree-child-title{
	cursor: pointer;
	font-size: 15px;
	color: #545454;
}

.tree-icon{
	padding-right: 5px;
	padding-left: 5px;
	font-size: 15px;
	color: #6b6c5a;

}

.tree-child-item.tree-empty .tree-icon:before{
	opacity: 0;
}

.tree-child-item .tree-icon:before{
	text-decoration: none;
	content: '\25bc';
	padding: 0 5px;
}

.tree-child-item.tree-closed .tree-icon, .tree-child-item.tree-closed .tree-icon:before{
	content: '\25b6';
	color: #aeaf98;
}

.tree-closed .acyicon-folder{
	font-size: 12px;
}

.tree-closed .tree-icon:before{
	font-size: 16px;
}

.tree-icon:before{
	font-size: 12px;
}

.tree-current > span,
.tree-child-item:hover > span{
	color: #08c !important;
}

.tree-child-item.tree-closed ul{
	height: 0;
	-webkit-transform: scaleY(0);
	-moz-transform: scaleY(0);
	-ms-transform: scaleY(0);
	-o-transform: scaleY(0);
	transform: scaleY(0);
}

.tree-child-item ul{
	height: auto;
	overflow: hidden;
	-webkit-transform: scaleY(1);
	-moz-transform: scaleY(1);
	-ms-transform: scaleY(1);
	-o-transform: scaleY(1);
	transform: scaleY(1);
	-webkit-transition: transform 0.5s;
	-moz-transition: transform 0.5s;
	-ms-transition: transform 0.5s;
	-o-transition: transform 0.5s;
	transition: transform 0.5s;
}
