/**
 * @package    AcyMailing for Joomla!
 * @version    5.9.1
 * @author     acyba.com
 * @copyright  (C) 2009-2018 ACYBA S.A.R.L. All rights reserved.
 * @license    GNU/GPLv3 http://www.gnu.org/licenses/gpl-3.0.html
 */

@import url("module_default.css");





.acysubbuttons input.button, .acysubbuttons .button, .acysubbuttons button.validate, .acymailing_mootoolsbutton a:link, .acymailing_mootoolsbutton a:visited {
	color:#666 !important;
	border:1px solid #ddd !important;
	padding: 2px !important;
	text-shadow:1px 1px 1px #fff !important;
	margin-right:5px !important;
	background:none !important;
	background-color:#fff !important;
}

.acysubbuttons input.button:hover, .acysubbuttons .button:hover, .acysubbuttons button.validate:hover, .acymailing_mootoolsbutton a:hover, .acymailing_mootoolsbutton a:active {
		color:#000 !important;
	background-color:#fff !important;
	border:1px solid #ccc !important;
	border-right:1px solid #999 !important;
	border-bottom:1px solid #999 !important;
}



.acymailing_module .inputbox{
	color:#666 !important;
	border:1px solid #ddd !important;
	border-right:1px solid #ccc!important;
	border-bottom:1px solid #ccc !important;
	margin-right: 10px!important;
		padding: 2px !important;}


.acymailing_module .inputbox:hover{
	border:1px solid #ddd !important;
	border-bottom:1px solid #aaa !important;}

.acymailing_module .inputbox:focus{
	border:1px solid #bbb !important;}


.acymailing_module_form td{
	padding-bottom:0px;}


.acymailing_module .acyfield_html {
	display:inline-block;
	padding-right:10px !important;}



.acymailing_module .acymailing_mootoolsbutton p{
	text-align:left;}

.acymailing_module a.acymailing_togglemodule{
	display:inline;
		font-size: 13px;
		font-weight: bold;}


.acymailing_module table.acymailing_form {
	margin:0px;}

.acymailing_module .acymailing_module_form td{
	padding-bottom:8px;}


.acymailing_mootoolsbutton a:link, .acymailing_mootoolsbutton a:visited {
	display:inline-block;
	text-decoration:none;
}


.acymailing_form {
	margin:0px;}

.acymailing_form label{
	margin-right:10px;
	}

.acymailing_module .acymailing_module_form td{
	padding-bottom:8px;}



.acymailing_module .acymailing_module_form .acymailing_lists a:link, .acymailing_module .acymailing_module_form .acymailing_lists a:visited{
	color:#000;
	text-decoration:none;}
.acymailing_module .acymailing_module_form .acymailing_lists a:hover, .acymailing_module .acymailing_module_form .acymailing_lists a:active{
	color:#666!important;
	text-decoration:underline !important;
	background-color:transparent !important;}

.acymailing_module form a:hover, .acymailing_module form a:active, .acymailing_module form a:focus{
	color:#666!important;
	text-decoration:underline !important;
	background-color:transparent !important;}

.acyterms a:link, .acyterms a:visited{
	color:#000;
	text-decoration:none;}

.acymailing_module .acymailing_module_form .acymailing_lists .acymailing_checkbox{
	margin-right:10px;}


.acymailing_module .acyfield_html input{
	margin-right:10px;
	margin-left:10px;
	border:none !important;
	background:none !important;
	filter:none !important;}

.acymailing_form .checkbox{
	border: none !important;
	background:none !important;
	filter: none !important;}



.acymailing_module .invalid{
border:1px solid #999 !important;}

