/**
 * @package    AcyMailing for Joomla!
 * @version    5.9.1
 * @author     acyba.com
 * @copyright  (C) 2009-2018 ACYBA S.A.R.L. All rights reserved.
 * @license    GNU/GPLv3 http://www.gnu.org/licenses/gpl-3.0.html
 */

@import url("module_default_basic_black.css");



.acysubbuttons input.button:hover, .acysubbuttons .button:hover, .acysubbuttons button.validate:hover, .acymailing_mootoolsbutton a:hover, .acymailing_mootoolsbutton a:active {
    color:#5A99AB !important;
	background-color:#fff !important;
	border:1px solid #ccc !important;
	border-right:1px solid #999 !important;
	border-bottom:1px solid #999 !important;
}



.acymailing_module .acymailing_module_form .acymailing_lists a:hover, .acymailing_module .acymailing_module_form .acymailing_lists a:active{
	color:#5A99AB!important;}
	
.acymailing_module form a:hover, .acymailing_module form a:active, .acymailing_module form a:focus{
	color:#5A99AB!important;}

