/**
 * @package    AcyMailing for Joomla!
 * @version    5.9.1
 * @author     acyba.com
 * @copyright  (C) 2009-2018 ACYBA S.A.R.L. All rights reserved.
 * @license    GNU/GPLv3 http://www.gnu.org/licenses/gpl-3.0.html
 */

@import url("module_default_shadow_black.css");





.acysubbuttons input.button, .acysubbuttons .button, .acysubbuttons button.validate, .acymailing_mootoolsbutton a:link, .acymailing_mootoolsbutton a:visited  {
	color:#fff !important;
background-color:#730028 !important;
background-image: linear-gradient(bottom, #730028 21%, #b90041 58%) !important;
background-image: -o-linear-gradient(bottom, #730028 21%, #b90041 58%) !important;
background-image: -moz-linear-gradient(bottom, #730028 21%, #b90041 58%) !important;
background-image: -webkit-linear-gradient(bottom, #730028 21%, #b90041 58%) !important;
background-image: -ms-linear-gradient(bottom, #730028 21%, #b90041 58%) !important;

  background: -ms-linear-gradient(top, ellipse cover, #730028 0%,#b90041 100%);   background: radial-gradient(top, ellipse cover, #730028 0%,#b90041 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#730028', endColorstr='#b90041',GradientType=0 ) !important; }

.acysubbuttons input.button:hover, .acysubbuttons .button:hover, .acysubbuttons button.validate:hover, .acymailing_mootoolsbutton a:hover, .acymailing_mootoolsbutton a:active{
    color:#fff !important;
	background-color:#b90041 !important;
background-image: linear-gradient(bottom, #a2023a 21%, #eb0053 58%) !important;
background-image: -o-linear-gradient(bottom, #a2023a 21%, #eb0053 58%) !important;
background-image: -moz-linear-gradient(bottom, #a2023a 21%, #eb0053 58%) !important;
background-image: -webkit-linear-gradient(bottom, #a2023a 21%, #eb0053 58%) !important;
background-image: -ms-linear-gradient(bottom, #a2023a 21%, #eb0053 58%) !important;

  background: -ms-linear-gradient(top, ellipse cover, #a2023a 0%,#eb0053 100%);   background: radial-gradient(top, ellipse cover, #a2023a 0%,#eb0053 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a2023a', endColorstr='#eb0053',GradientType=0 ) !important; }

.acymailing_module form a:hover, .acymailing_module form a:active, .acymailing_module form a:focus{
	color:#B90041!important;
	text-decoration:underline !important;
	background-color:transparent !important;}
