/**
 * @package    AcyMailing for Joomla!
 * @version    5.9.1
 * @author     acyba.com
 * @copyright  (C) 2009-2018 ACYBA S.A.R.L. All rights reserved.
 * @license    GNU/GPLv3 http://www.gnu.org/licenses/gpl-3.0.html
 */

@import url("module_default_shadow_black.css");





.acysubbuttons input.button, .acysubbuttons .button, .acysubbuttons button.validate, .acymailing_mootoolsbutton a:link, .acymailing_mootoolsbutton a:visited  {color:#fff !important;
background-color:#730028 !important;
background-image: linear-gradient(bottom, #770000 21%, #bc1f00 58%) !important;
background-image: -o-linear-gradient(bottom, #770000 21%, #bc1f00 58%) !important;
background-image: -moz-linear-gradient(bottom, #770000 21%, #bc1f00 58%) !important;
background-image: -webkit-linear-gradient(bottom, #770000 21%, #bc1f00 58%) !important;
background-image: -ms-linear-gradient(bottom, #770000 21%, #bc1f00 58%) !important;

  background: -ms-linear-gradient(top, ellipse cover, #770000 0%,#bc1f00 100%);   background: radial-gradient(top, ellipse cover, #770000 0%,#bc1f00 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#BC1F00', endColorstr='#770000',GradientType=0 ) !important; }

.acysubbuttons input.button:hover, .acysubbuttons .button:hover, .acysubbuttons button.validate:hover, .acymailing_mootoolsbutton a:hover, .acymailing_mootoolsbutton a:active{
    color:#fff !important;
	background-color:#bc1f00 !important;
background-image: linear-gradient(bottom, #b00303 21%, #ee0000 58%) !important;
background-image: -o-linear-gradient(bottom, #b00303 21%, #ee0000 58%) !important;
background-image: -moz-linear-gradient(bottom, #b00303 21%, #ee0000 58%) !important;
background-image: -webkit-linear-gradient(bottom, #b00303 21%, #ee0000 58%) !important;
background-image: -ms-linear-gradient(bottom, #b00303 21%, #ee0000 58%) !important;

  background: -ms-linear-gradient(top, ellipse cover, #b00303 0%,#ee0000 100%);   background: radial-gradient(top, ellipse cover, #b00303 0%,#ee0000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ee0000', endColorstr='#b00303',GradientType=0 ) !important; }

.acymailing_module form a:hover, .acymailing_module form a:active, .acymailing_module form a:focus{
	color:#bc1f00!important;
	text-decoration:underline !important;
	background-color:transparent !important;}
