/* @color #5995C1 */ 

@font-face {font-family:'aller';src: url('../fonts/aller/aller_rg-webfont.eot');src: url('../fonts/aller/aller_rg-webfont.eot?#iefix') format('embedded-opentype'),url('../fonts/aller/aller_rg-webfont.woff') format('woff'),url('../fonts/aller/aller_rg-webfont.ttf') format('truetype'),url('../fonts/aller/aller_rg-webfont.svg#allerregular') format('svg');-webkit-font-smoothing:antialiased;}

@font-face {font-family: 'allerbold';src: url('../fonts/aller-bold/aller_bd-webfont.eot');src: url('../fonts/aller-bold/aller_bd-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/aller-bold/aller_bd-webfont.woff') format('woff'), url('../fonts/aller-bold/aller_bd-webfont.ttf') format('truetype'), url('../fonts/aller-bold/aller_bd-webfont.svg#allerbold') format('svg');-webkit-font-smoothing:antialiased;}

.intro,#general,#aphelpModal .modal-header h4 span.pro {font-family:"Segoe UI","Myriad Pro","aller", Arial, sans-serif;-webkit-font-smoothing:antialiased;}
.intro h2,.intro h4,.intro h2 span,.intro div.license .title {font-family:"aller", Arial, sans-serif;-webkit-font-smoothing:antialiased;}
#myTabTabs, .apspacer_divider{font-family:"aller",Arial, sans-serif;-webkit-font-smoothing:antialiased;}
strong, b, .apspacer_divider{font-family:"Segoe UI","Myriad Pro","allerbold",Arial, sans-serif;-webkit-font-smoothing:antialiased;}
label b{font-family:Arial, sans-serif;-webkit-font-smoothing:antialiased;}

.form-inline.form-inline-header {visibility:hidden;display:none;}
#system-message-container .alert,
div.subhead-collapse>.subhead{margin:0 auto;}
.container-fluid.container-main{padding:0;margin:0 auto;}
.form-inline, #content {width:100%;padding:0!important;margin: 0}
.span3 .control-group .controls .chzn-container.chzn-container-single{width: 100%;}

a.btn-subhead, .subhead-collapse{margin-bottom:1px!important;}
.subhead {box-shadow:0 1px 0px rgba(0,0,0,.3);}

#module-form{display:table; width:100%; margin:0 0 20px; padding:0; height:100%; position:relative}

.form-vertical .control-group .control-label.aplabel,.form-vertical .control-group .control-label.aplabel label,
#general .form-inline-header .control-group .control-label label {background:transparent;box-shadow:none}	
.form-vertical .control-group .control-label.aplabel label{float:left}
.form-horizontal{height:100%;width:100%;display:table;position:relative;}
.subhead .container-fluid {z-index:3;}
#status {-moz-box-shadow:none!important;-webkit-box-shadow:none!important;box-shadow:none!important;}/* remove white shadow in admin status module */ 

/* #general */
#general .form-inline.form-inline-header.visible,
#general .form-inline.form-inline-header.visible .control-group {visibility:visible;display:block;width:100%;margin:0 auto 25px;}
#general .form-inline-header .control-group .control-label {width:auto;float:left;margin:2px 7px 0 0;}
#general .form-inline-header .control-group .controls {width:auto;}
#general .form-inline-header .control-group .controls input#jform_title {float:left;}
#general h3 {width:auto;margin:6px 7px 0 15px;display:block;display:inline;color:#aaa;font-weight:normal;font-size:100%;line-height:32px;}
#general .info-labels {width:auto;display:inline;margin:5px auto 0;}
#general>.form-inline{margin: 0 auto;}
#general>.form-inline .control-group{margin: 0;}
#general>.form-inline .control-group .control-label{}
#general>.form-inline .control-group .controls{margin:0; float:left; padding:0}
#general .span3 .form-vertical:first-child {}
#general .span3 .form-vertical .control-group .control-label{width:95%;}
#general .span3 .form-vertical .control-group .controls {display:block;clear:both;width:99%;margin:0;background:transparent;box-shadow:none}
#general .span3 .form-vertical .control-group .controls select{width:98%;}
#general .span3 .form-vertical .control-group .controls .input-append input {width:auto;}

#general hr {clear:both}
#general div.divider {width:99%;clear:both;margin:-5px auto 20px;text-indent:-9999em;height:1px;padding:0;background:#ccc;width:100%;border:none;border-bottom:1px solid white;}
#general div.license img.img-rounded {margin:0;padding:0;}
#general .getmore {margin:0;line-height:25px;font-size:14px;text-align:left;}
#general .getmore a  {font-size:14px;}
#general .readmore a {color:#777;line-height:19px;font-size:13px;margin-bottom:-7px;margin-top:25px;}
#general .readmore a:hover {color:#333;}
#general .readmore a .icomoon-info {color:#888;line-height:19px;font-size:16px;vertical-align:middle;}
#general .readmore a:hover .icomoon-info {color:#5995C1}

/* add-on with popover for apimagefolder (select) */
.grid .controls span.add-on {padding:3px 8px 7px 9px;margin-left:2px;}
.grid .controls span.add-on i {font-size:16px;vertical-align:middle;line-height:20px;color:#888;-webkit-transition:all 0.4s ease-out; -moz-transition:all 0.4s ease-out; -o-transition:all 0.4s ease-out; -ms-transition:all 0.4s ease-out}
.grid .controls span.add-on:hover, 
.grid .controls span.add-on:hover i {color:#444;cursor:default}

/* add-on with popover for aptext */
.control-group .controls .field-wrap hr {margin:5px auto;padding:0;clear:both;}
.control-group .controls .field-wrap img {text-align:center;margin:0 auto;display:table;}
.control-group .controls .field-wrap span.add-on {padding-left:8px;padding-right:8px;color:#999;}
.control-group .controls .field-wrap span.add-on i {font-size:15px;line-height:20px;color:#888;-webkit-transition:all 0.4s ease-out; -moz-transition:all 0.4s ease-out; -o-transition:all 0.4s ease-out; -ms-transition:all 0.4s ease-out}
.control-group .controls .field-wrap span.add-on:hover, 
.control-group .controls .field-wrap span.add-on:hover i {color:#444;cursor:default}

/* Tabs */
#myTabTabs{width:19%; height:100%; min-height:560px;border:0; background:#3b3f42; border-bottom:1px solid rgba(0,0,0,.5); box-shadow:0px 3px 8px rgba(0,0,0,.25); padding:25px 0; margin:0; position:absolute; z-index:2; top:0; left:0; bottom:0; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box}
#myTabTabs li:first-child{border:none; box-shadow:inset 0px 1px 0px transparent}
#myTabTabs li{width:100%; float:left; margin-top:1px; border-top:1px solid #1C1E20; box-shadow:inset 0px 1px 0px rgba(255,255,255,0.09); padding:0; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; -webkit-transition:background 0.4s ease-out; -moz-transition:background 0.4s ease-out; -o-transition:background 0.4s ease-out; -ms-transition:background 0.4s ease-out}
#myTabTabs li:hover, 
#myTabTabs li.active{background-color:#2C2F32; box-shadow:inset 0px -20px 30px rgba(0,0,0,.2),inset 0px 1px 0px rgba(255,255,255,0.07)}
#myTabTabs li:first-child:hover{background-color:#2F3235; box-shadow:inset 0px -20px 30px rgba(0,0,0,.3),inset 0px 2px 0px rgba(255,255,255,0.06),inset 0px 1px 0px rgba(0,0,0,.5)}
#myTabTabs li:first-child.active{background-color:#2F3235; box-shadow:inset 0px -20px 30px rgba(0,0,0,.3),inset 0px 2px 0px rgba(255,255,255,0.08),inset 0px 1px 0px rgba(0,0,0,.6)}
#myTabTabs li i{float:left;font-size:130%;color:#828282;width:20px;vertical-align:middle;padding:0 0 0 3px;margin:0 9px 0 0}
#myTabTabs li a{border-radius:0; border:0; padding:16px 20px; text-transform:uppercase; list-style:none outside none;font-size:14px; line-height:22px;color:#828282; text-shadow:0px 1px 1px rgba(0,0,0,0.8); -webkit-transition:all 0.4s ease-in-out; -moz-transition:all 0.4s ease-in-out; -o-transition:all 0.4s ease-in-out; -ms-transition:all 0.4s ease-in-out}
#myTabTabs li:hover i{color:#fff; -webkit-transition:color 0.4s ease-in-out; -moz-transition:color 0.4s ease-in-out; -o-transition:color 0.4s ease-in-out; -ms-transition:color 0.4s ease-in-out}
#myTabTabs li.active i{color:#77A9C4;}
#myTabTabs li a:hover, 
#myTabTabs li.active a{border:0; background:none; color:#fff}
#myTabTabs .copyright{right:0; left:0; text-align:center; bottom:30px; position:absolute}
#myTabTabs .copyright a{font-size:13px; padding:7px; color:#828282; text-decoration:none; -webkit-transition:all 0.4s ease-out; -moz-transition:all 0.4s ease-out; -o-transition:all 0.4s ease-out; -ms-transition:all 0.4s ease-out}
#myTabTabs .copyright a:hover{color:#fff}

/* Content */
#myTabContent{width:81%;height:100%;float:right}
#myTabContent>div{padding:35px 3% 35px;width:94%;min-height:87%;margin:0 auto;float:none;background:#F5F5F5; border-radius:0; box-shadow:0px 5px 7px rgba(0,0,0,.1); border-bottom:1px solid rgba(0,0,0,.1)}

	
/* help modal (aphelpModal) */
#aphelpModal {box-shadow:0 10px 50px rgba(255,255,255,.2);}
#aphelpModal{height:80%;width:70%;margin-left:-35%; }
#aphelpModal .modal-body{max-height:70%;font-size:95%;}
#aphelpModal .modal-body p {margin:0 22px 10px;line-height:160%;font-size:114%;text-align:left;font-family:"Segoe UI","Myriad Pro",Arial,sans-serif}
#aphelpModal .modal-header,
#aphelpModal .modal-footer {background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1IiBoZWlnaHQ9IjUiPg0KPHJlY3Qgd2lkdGg9IjUiIGhlaWdodD0iNSIgZmlsbD0iI2Y3ZjdmNyI+PC9yZWN0Pg0KPHBhdGggZD0iTTAgNUw1IDBaTTYgNEw0IDZaTS0xIDFMMSAtMVoiIHN0cm9rZT0iI2YxZjFmMSIgc3Ryb2tlLXdpZHRoPSIxIj48L3BhdGg+DQo8L3N2Zz4=') center center repeat;}
#aphelpModal .modal-header {padding-top:0;padding-bottom:0;margin:0 auto;border-radius:7px 7px 0 0;box-shadow:inset 0 -1px 0px white}
#aphelpModal .modal-header button.close {margin-top:10px;margin-bottom:-10px;}
#aphelpModal .modal-footer {border-radius:0 0 7px 7px;box-shadow:inset 0 1px 1px white;}
#aphelpModal .modal-header h4{line-height: 120%; clear:both; font-family: Georgia, "Book Antiqua", Palatino, serif; font-size:24px; margin:0 8px; padding:5px 0px 24px 10px; color:#444; font-weight: normal;text-align:left;}
#aphelpModal .modal-header h4 span.icomoon-info:before {font-size:125%;line-height:24px;vertical-align:middle;top:-2px;margin:0 5px 0 0;color:#F38B2E;}
#aphelpModal .modal-header h4 span.pro {position:relative;font-size:8px;font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;padding:3px 4px 2px;color:#fff;vertical-align:middle;top:0;margin-left:7px;width:auto;border-radius:3px;background-color:#767A83;font-style:normal}
#aphelpModal .modal-header h4 small {font-size:9px;font-family:Arial,sans-serif;line-height:18px;padding:2px 5px;color:#fff;vertical-align:middle;top:-1px;margin-left:7px;position:relative;width:auto;border-radius:3px;background-color:#5995C1;font-style:normal;text-shadow:1px 1px 0px rgba(0,0,0,0.2);}
.modal-btn {padding:6px 0 24px;float:right;position:absolute;margin:10px 0 0 0;right:24%;}
.modal-btn a.btn span.icomoon-info {color: #F27300;font-size:15px;line-height:18px;vertical-align:middle;margin:0px 4px 0 0;}

/* Intro start */
.intro{display:block;clear:both;width:98%;margin:0;vertical-align:top;padding:0;border-radius:5px;font-weight:normal;text-align:justify;color:#4d4d4d;line-height:24px;font-size:14px;}			
.intro h2 {line-height: 120%; clear:both;font-size:25px;margin:0 8px 23px; padding:15px 0px 24px 10px; color:#444; border-bottom: 1px solid #e0e0e0;box-shadow:0 1px 0 #fff;font-weight: normal;text-align:left;text-shadow:1px 2px 2px rgba(255,255,255,.7);}
.intro h2 span.pro {position:relative;font-size:8px;padding:3px 5px 3px;color:#fff;vertical-align:middle;top:0;margin-left:8px;width:auto;border-radius:3px;background-color:#767A83;font-style:normal;text-shadow:1px 1px 1px rgba(0,0,0,.1);white-space:nowrap;}
.intro h2 span.version {font-size:9px;font-family:Arial,sans-serif;line-height:18px;padding:3px 5px;color:#fff;vertical-align:middle;top:0;margin-left:7px;position:relative;width:auto;border-radius:3px;background-color:#5995C1;font-style:normal;text-shadow:1px 1px 1px rgba(0,0,0,.1);white-space:nowrap;}
.intro h4 {padding:10px 9px 8px 12px;margin:15px 10px 1px;vertical-align:top;font-size:19px;line-height:140%;color:#888;font-weight:normal;border-bottom: 1px solid #e3e3e3;box-shadow:0 1px 0 rgba(255,255,255,.7);}
.intro p{margin:0 22px 10px;line-height:160%;font-size:110%;text-align:left;}
.intro div.license{border-top:1px solid #e0e0e0;box-shadow:inset 0 1px 0 #fff;margin:30px 20px 20px;padding:26px 3px 15px;line-height:160%;font-size:110%;text-align:left;}
.intro div.license .title,.intro div.license .getmore {line-height:160%;font-size:110%;text-align:left;}
.intro p a,.intro div.license .getmore a {color:#5995C1;}
.intro p a:hover,.intro div.license .getmore a:hover {color: #4784A5;text-decoration: none;}
.intro div.license .title span.pro {position:relative;font-size:8px;padding:2px 4px 2px;color:#fff;vertical-align:middle;top:0;margin-left:7px;width:auto;border-radius:3px;background-color:#767A83;white-space:nowrap;font-style:normal}
.intro div.license .title small{font-size:9px;font-family:Arial,sans-serif;line-height:18px;padding:2px 5px;color:#fff;vertical-align:middle;top:-1px;margin-left:7px;position:relative;width:auto;border-radius:3px;background-color:#5995C1;white-space:nowrap;font-style:normal}
.intro div.template_thumbnail{box-shadow:none;border:0;padding:5px}
.intro div.template_thumbnail img{background:transparent;float:right;padding:10px 12px 7px 10px}

.intro ul {margin:10px 0 0 27px;padding:10px 22px;list-style-type:none;text-indent:-1.15em;text-align:left}
.intro ul li {font-size:14px;padding: 3px 3px;margin: 0 auto;list-style: none;}
.intro ul.icons li [class^="fa fa-"], .intro ul.icons li [class^="icomoon-"], ul.icons li [class*=" fa-"] {display: inline-block;}
.intro ul li i{padding:0;}
.intro ul li i:before{margin: 0 4px 0;padding: 1px 3px;}
.intro ul li i.fa-check-square-o{color:#888}


.control-group.fullwidth,
.control-group .control-label.fullwidth {width:100%;text-align:left;}
.control-group .control-label.fullwidth label {box-shadow:none;}
.control-group .control-label.aplabel {width:30%;display:block;margin:0 auto;padding:0;float:left;background:#f1f1f1;}
.control-group .control-label.aplabel label {display:table;text-align:right;float:right;margin:0 auto;box-shadow:inset -2px 0 0px #ccc;padding:4px 12px 5px 5px}

.control-group .controls.apcontrols {width:67%;margin:0 0 0 2%;float:left;display:inline-block;text-align:left;}

/* apspacer */
.apspacer_divider {background:#748587;color:#fff;font-size:14px;border-radius:3px;font-weight:bold;line-height:22px;margin:4px auto 20px;padding:3px 15px 4px;text-shadow:1px 1px 2px rgba(0,0,0,0.3);text-align:left;}
.apspacer_divider h4 {font-size:15px;margin:0;line-height:22px;padding:0;text-shadow:1px 1px 2px rgba(0,0,0,0.3);text-align:left;}
.apspacer_divider i {float:right;margin-top:4px;font-size:11px;line-height:13px;font-weight:normal;}

.hideshowspacer div .apspacer_divider{margin:4px auto 10px;}
.hideshowspacer .description {
	border: 1px solid rgba(44,44,44,.1);
	border-radius: 4px;
	clear: both;
	display: block;
	margin: 0 auto;
	padding: 10px 15px;
	background-color: #fff;
}

/* little tweek of #assignment */
#assignment .control-group .control-label.aplabel{width:15%;}
#assignment .control-group label{background:transparent;text-align:right;}
#assignment .control-group .controls.apcontrols{width:83%;}

/* Select Source (radios) */
.controls fieldset#jform_params_display_form label.display_form {padding:4px 15px;margin-top:-3px;line-height:24px;}
.controls fieldset#jform_params_display_form label.display_form img {margin:-3px 5px 0 0;opacity:.7;}
.controls fieldset#jform_params_display_form label.display_form.active img,
.controls fieldset#jform_params_display_form label.display_form:hover img {opacity:1;}
.controls fieldset#jform_params_display_form label.display_form i {margin:-2px 5px 0 0;font-size:17px;line-height:17px;color:#777;}
.controls fieldset#jform_params_display_form label.display_form:hover i {color:#444;}
.controls fieldset#jform_params_display_form label.display_form.active i {color:#FFF}
.controls fieldset#jform_params_display_form label.display_form.active {background-color:#6D7C7E;box-shadow: none;border-top: 1px solid #656F74;border-bottom: 1px solid #535F60;border-right: 1px solid #656F74;border-left: 1px solid #656F74;}
/* Text Align (radios) */
.controls fieldset.text-align label {padding:0;line-height:26px;margin:-1px 0 0 0;}
.controls fieldset.text-align label img {margin:-3px 5px 0 0;opacity:.7;}
.controls fieldset.text-align label.active img,
.controls fieldset.text-align label:hover img {opacity:1;}
.controls fieldset.text-align label i {margin:-3px 0 0;padding:1px 30px;font-size:14px;line-height:24px;color:#777;vertical-align:middle;}
.controls fieldset.text-align label:hover i {color:#444;}
.controls fieldset.text-align label.active i {color:#FFF}
.controls fieldset.text-align label.active{background-color:#748587;box-shadow:none;border-top:1px solid #656f74;border-bottom:1px solid #6D7C7E;border-right:1px solid #656f74;border-left:1px solid #656f74}

.controls fieldset.radios-align label {padding:0 12px;line-height:28px;margin:-1px 0 0 0;}
.controls fieldset.radios-align label img {margin:-3px 5px 0 0;opacity:.7;}
.controls fieldset.radios-align label.active img,
.controls fieldset.radios-align label:hover img {opacity:1;}
.controls fieldset.radios-align label i {margin:-2px 0 0;padding:0 2px;font-size:14px;line-height:28px;color:#777;vertical-align:middle;}
.controls fieldset.radios-align label:hover i {color:#444;}
.controls fieldset.radios-align label.active i {color:#FFF}
.controls fieldset.radios-align label.active{background-color:#677476;box-shadow:none;border-top:1px solid #656f74;border-bottom:1px solid #6D7C7E;border-right:1px solid #656f74;border-left:1px solid #656f74}

/* Theme selectors */
div.theme, div.theme .control-label, div.theme .controls {width:100%;}
div.theme .controls {margin:0 auto;float:none;padding:0;clear:both;background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1IiBoZWlnaHQ9IjUiPg0KPHJlY3Qgd2lkdGg9IjUiIGhlaWdodD0iNSIgZmlsbD0iI2YwZjBmMCI+PC9yZWN0Pg0KPHBhdGggZD0iTTAgNUw1IDBaTTYgNEw0IDZaTS0xIDFMMSAtMVoiIHN0cm9rZT0iI2Y3ZjdmNyIgc3Ryb2tlLXdpZHRoPSIxIj48L3BhdGg+DQo8L3N2Zz4=') center center repeat;box-shadow:inset 1px 0 0 #e7e7e7, inset -1px 0 0 #e7e7e7; }
div.theme .control-label {background:#e3e3e3;color:#395E71;box-shadow:none;line-height:28px;padding:1px 14px 1px 0;margin:0 auto 3px}
div.theme .control-label label {display:table;text-align:center;float:none;margin:0 auto;box-shadow:none;font-weight:bold;line-height:28px;padding:0 10px;}
div.theme label span.fa {margin-left:7px;color:#588EAB;}
.marker{display:block;position:absolute;color:#5995C1;margin:0;width:152px;height:130px;}
.marker i.icon-ok:before{font-family:"FontAwesome";position:absolute;content:"\f00c";border-radius:50%;right:1px;bottom:9px;font-size:20px;line-height:20px;color:#5995C1;text-shadow:1px 1px 2px rgba(0,0,0,.2);margin:0;padding:3px;float:right;font-weight:normal}
/* Theme selectors (making it centered) */
fieldset.label-img {margin:0 auto;padding:10px 0;text-align:center;float:none;display:table;width:99%;}
fieldset.label-img label img {opacity:0.75;-webkit-transition:all .3s ease-in-out;-moz-transition:all .7s ease-in-out;-o-transition:all .3s ease-in-out;}
fieldset.label-img label:hover img,
fieldset.label-img label .select.highlight img {opacity:1}
fieldset.label-img label{margin:0 12px 0 0;padding:0;text-align:left;float:none;display:inline-table;}
fieldset.label-img label .select {padding:9px;margin:0 auto 0;border:2px solid transparent;border-radius:2px;}
fieldset.label-img label .select img {padding:5px;background:rgba(255,255,255,.5);border:1px solid #c5c5c5;}
fieldset.label-img label .select.highlight {display:block;background:#e8e8e8;background:rgba(77,77,77,.1);position:relative;-webkit-transition:all .7s ease;-moz-transition:all .7s ease;-o-transition:all .7s ease;border:2px solid #5995C1;z-index:1}
fieldset.label-img label .select.highlight img {background:#f9f9f9;border:1px solid #b0b0b0;}
fieldset.label-img label .select p {text-align:center;padding:0;margin:0 auto;}
fieldset.label-img label .select p.desc {font-family:"aller",Arial, sans-serif;-webkit-font-smoothing:antialiased;text-align:center;clear:both;padding:0;margin:10px auto 0;font-size:110%;color:#777;}


fieldset.label-img label .select p.desc span.nmbr {
	background: #bbb;
	font-size: 100%;
	text-align: center;
	display: inline-table;
	margin: -1px 0 0 -1px;
	width: 23px;
	height: 22px;
	line-height: 20px;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
	box-shadow:0 1px 3px rgba(255,255,255,.7);
	color: #FFF;
	text-shadow:1px 1px 1px rgba(0,0,0,.2);
}

fieldset.label-img label .select.highlight p.desc {color:#222;text-shadow:1px 1px 0px rgba(255,255,255,.5);}
fieldset.label-img label .select.highlight p.desc  span.nmbr {font-weight:normal;background:#777;}

/* Error message */
.control-group p.error {padding: 2px;line-height: 22px;text-align: center;background-color: #ED352C;color: #fff;}


/* Simple Spacer */
.control-group .control-label .spacer label {text-indent:-9999em;height:1px;padding:0;background:#ccc;margin:3px auto;width:100%;border:none;border-bottom:1px solid white;}

.btn-group {margin-top:-4px;}
.btn-group.btn-group-yesno label {line-height:20px!important;}
.btn-group .fa  {background:transparent;font-size:14px;line-height:26px;box-shadow:none;vertical-align:middle;margin:-7px 3px -3px;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;} 
.btn-group [class*='fa-align'] {padding:2px 29px 2px;line-height:26px;margin:-7px -26px;} 

/* Accordion */
a.sub-heading {color:#eee;text-decoration:none;font-weight: bold;line-height:18px;}
a.sub-heading:hover {color:#fff;}
.apaccordion .sub-heading-info {line-height:22px;text-decoration: none;}
.control-label label .apaccordion a.sub-heading i {-webkit-transition: all 0.3s ease-in-out;-moz-transition: all 0.3s ease-in-out;-o-transition: all 0.3s ease-in-out;-ms-transition: all 0.3s ease-in-out;}
.apaccordion a.sub-heading {color:#eee;text-decoration:none;font-weight:bold;line-height:20px;-webkit-transition: all 0.3s ease-in-out;-moz-transition: all 0.3s ease-in-out;-o-transition: all 0.3s ease-in-out;-ms-transition: all 0.3s ease-in-out;}
.apaccordion a.sub-heading:hover {color:#fff;text-decoration:none;}
.apaccordion .sub-heading-info i.icomoon-bootstrap,
.apaccordion .sub-heading-info i.fa-question-circle {float:left;margin-right:10px;}
.apaccordion .sub-heading-info i.icomoon-bootstrap {color: #DD6AEA;font-size: 16px;}
.apaccordion:hover .sub-heading-info i.icomoon-bootstrap {color: #EC96FE;}
.apaccordion .sub-heading-info i,
.apaccordion .accordion-toggle i {line-height:15px;}
.control-label label .apaccordion.white a.sub-heading {color:#777;text-shadow:1px 1px 1px rgba(0,0,0,.1);line-height:26px;}
.control-label label .apaccordion.white:hover a.sub-heading {color:#555;}
.control-label label .apaccordion.white a.sub-heading i {color:#999;text-shadow:1px 1px 1px rgba(0,0,0,.1);font-size:16px;line-height:20px;}
.control-label label .apaccordion.white:hover a.sub-heading i {color:#777;}
.control-label label .apaccordion.white .sub-heading-infotext {color:#555;text-shadow:none;border-top:1px solid rgba(0,0,0,.1);padding:20px 10px 5px;}
.control-label.white {background:white;box-shadow:0 1px 3px -2px #888;}
.control-label label .apaccordion.white a.sub-heading i.fa-question-circle {font-size:16px;line-height:18px;color:#7BCD32}
.control-label label .apaccordion.white:hover a.sub-heading i.fa-question-circle {color: #6CB42C;}
.sub-heading-infotext {padding:15px 0 15px;border-top:1px solid rgba(255,255,255,.3);margin-top:5px;font-weight:normal;}


/* Icons */
.fa-plus-square, .icon-help {float:right;margin-top:5px;font-size:22px;font-weight:normal;}
	
/* some ICOMOON icons */	
@font-face{font-family:'icomoon';src:url('../fonts/icomoon/icomoon.eot?-dt3k7k');src:url('../fonts/icomoon/icomoon.eot?#iefix-dt3k7k') format('embedded-opentype'),url('../fonts/icomoon/icomoon.woff?-dt3k7k') format('woff'),url('../fonts/icomoon/icomoon.ttf?-dt3k7k') format('truetype'),url('../fonts/icomoon/icomoon.svg?-dt3k7k#icomoon') format('svg');font-weight:normal;font-style:normal}
[class^="icomoon-"],[class*=" icomoon-"]{font-family:'icomoon';speak:none;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.icomoon-home:before{content:"\e605"}
.icomoon-newspaper:before{content:"\e600"}
.icomoon-paint-format:before{content:"\e601"}
.icomoon-image:before{content:"\e606"}
.icomoon-stack:before{content:"\e602"}
.icomoon-spinner:before{content:"\e611"}
.icomoon-spinner2:before{content:"\e612"}
.icomoon-spinner3:before{content:"\e613"}
.icomoon-link:before{content:"\e607"}
.icomoon-paypal:before{content:"\e60f"}
.icomoon-sharable:before{content:"\e608"}
.icomoon-tools:before{content:"\e609"}
.icomoon-palette:before{content:"\e603"}
.icomoon-newspaper2{font-size:110%;line-height:16px;vertical-align:middle;margin-right:11px!important;margin-left:-1px!important;}
.icomoon-newspaper2:before {content: "\e614";font-size:110%;}
.icomoon-microphone:before{content:"\e610"}
.icomoon-gauge:before{content:"\e60a"}
.icomoon-brush:before{content:"\e60b"}
.icomoon-statistics:before{content:"\e60c"}
.icomoon-pie:before{content:"\e60d"}
.icomoon-info:before{content:"\e60e"}
.icomoon-bootstrap:before{content:"\e604"}	

/* ----- Scroll to Top ----- */
a#scroll-top{opacity:0;-moz-opacity:0;-webkit-opacity:0;filter:alpha(opacity=0);visibility:hidden;position:fixed;right:-20px;bottom:40px;height:40px;width:40px;line-height:40px;background:#aaa;background:rgba(0,0,0,0.3);-webkit-transition: all .5s cubic-bezier(0.405, 0.020, 0.325, 0.950) .2s;-moz-transition: all .5s cubic-bezier(0.405, 0.020, 0.325, 0.950) .2s;-o-transition: all .5s cubic-bezier(0.405, 0.020, 0.325, 0.950) .2s;transition: all .5s cubic-bezier(0.405, 0.020, 0.325, 0.950) .2s;}
a#scroll-top.open{right:10px;opacity:0.8;-moz-opacity:0.8;-webkit-opacity:0.8;filter:alpha(opacity=80);visibility:visible;}
a#scroll-top:hover{background:rgba(0,0,0,.4);opacity:1;-moz-opacity:1;-webkit-opacity:1;filter:alpha(opacity=100);}
a#scroll-top i{color:#fff;text-shadow:0 1px 2px rgba(0,0,0,.3);height:40px;width:40px;padding-left:11px;font-size:135%}

/* Responsive */	
@media (max-width: 979px) {
	.container-fluid.container-main{padding:0;}
	#myTabContent, #myTabContent > div {clear:both;}
	.intro {width:97%;clear:both} 
	 #general div.span9{width:100%;margin:0 auto;clear:both;} 
	 #general .form-inline-header .control-group .controls input#jform_title {width:70%}
	 #general .span3 .form-vertical:first-child {margin-top:10px;padding-top:30px;border-top:1px solid #ccc;box-shadow:inset 0 1px 0px white;}
	 #general .span3 {width:95%;} 
	 #general .span3 .form-vertical .control-group {width:100%;} 
     #general .span3 .form-vertical .control-group .control-label{width:27%;display:inline;clear:none;text-align:right;}
	 #general .span3 .form-vertical .control-group .controls {width:70%;clear:none;display:inline;}
	 #general .span3 .form-vertical .control-group .controls select, 
	 #general .span3 .form-vertical .control-group .controls fieldset {width:38%;}
	.intro h1{padding: 16px 0 15px 0;margin:0 -10px 20px -10px;text-indent: 128px;}
	.intro p {margin: 0 10px 10px;} 
	.intro p.license {margin: 20px 5px 10px;}
	#aphelpModal {width:82%;height:80%;margin-left:-41%;margin-top:1%;}
	#aphelpModal .modal-body{max-height:60%;}
	.modal-btn {right:5%;}

}

@media (max-width: 767px) {
	#myTabTabs .copyright{bottom:0;clear:both;margin:15px auto;padding-top:20px;position:relative;}
	#myTabTabs li a{padding:10px 20px;}
	#myTabTabs li:first-child {margin-top:15px;}
	#content,.span3,.span6,.span9,
	#myTabTabs, #myTabContent,
	#general div.row-fluid > div, 
	#general .form-inline-header .control-group .controls input#jform_title {width:60%;position:relative;display:block;clear:both;width:100%;padding:0;margin:0;}
	.intro {width:100%;clear:both;margin:0;}
	.control-group .control-label.aplabel {width:40%;margin:0;padding:0;float:left; }
	.control-group .controls.apcontrols {width:55%;margin:0 0 0 2%;float:left;display:inline-block;text-align:left;}
	.modal-btn {float:right;clear:left;right:10px;top:-20px;margin:0 auto;padding:0;}
	#aphelpModal {width:80%;height:80%;margin-left:6%;}
	#aphelpModal .modal-body{max-height:60%;font-size: 95%;}

}	
@media (max-width: 480px) {
	#general .form-inline-header .control-group .control-label {width:100%;float:left;position:relative;margin-top:2px;}
	#general .form-inline-header .control-group .controls input#jform_title {position:relative;display:block;width:100%;}
	.control-group .control-label.aplabel{width:100%;margin: 1px 0 5px 0}
	.control-group .control-label.aplabel label{text-align:left;width:auto;float:left;margin:0 auto;}
	hr{background:red;}
	.control-group .controls.apcontrols{width:100%;margin: 1px 0 5px 0}
	.control-group .controls.apcontrols input{width:95%;}
	#general .span3 .form-vertical .control-group .controls select, 
	#general .span3 .form-vertical .control-group .controls fieldset {width:90%;}
}	
