/* dashboard about box */
#dashboard-left {
	float: left;
	width: 63%;
	padding-right: 1%;
	overflow: hidden;
}

#dashboard-right {
	float: left;
	width: 36%;
}
.dashboard-container {
    width: 100%;
	overflow: hidden;
}

.dashboard-container:before,
.dashboard-container:after {
	display: table;
	content: "";
}

.dashboard-container:after {
	clear: both;
}

.dashboard-button {
	min-width: 19%;
	float: left;
	margin: 1% 1% 0 0;
}

.dashboard-button > a {
	display: block;
	width: 100%;
	height: 100%;
}

.dashboard-button:hover {
	background-color: #2d6ca2;
}

.dashboard-button:hover a {
	color: #fff;
	text-decoration: none;
}

.dashboard-info {
	color: #333;
	display:block;
	padding:10px;
	background-color: #f0f0f0;
	border:#d8d8d8 1px solid;	
	text-align: center;
}

.dashboard-title {
	display: block;
}

.dashboard-info img {
	margin: 0 auto 10px auto;
}

.dashboard-table {
	width: 100%;
	border-top: solid 1px #ddd;
	margin-top: 5px;
}

.dashboard-info td {
	padding: 2px;
}

.correct-code {
	background: #008000;
	color: #fff;
}

.incorrect-code {
	background: #ff0000;
	color: #fff;
}

.missing-code {
	background: #ffa500;
}

.missing-code a,
.incorrect-code a
 {
	color: #fff !important;
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	.dashboard-button {
		float: none;
		width: 90%;
		margin: 1%;
	}
	#dashboard-left {
		float: none;
		width: 100%;
	}

	#dashboard-right {
		float: none;
		width: 100%;
	}
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	.dashboard-button {
		float: none;
		width: 90%;
		margin: 1%;
	}
	#dashboard-left {
		float: none;
		width: 100%;
	}

	#dashboard-right {
		float: none;
		width: 100%;
	}
}
 
/* Landscape phones and down */
@media (max-width: 480px) {
	.dashboard-button {
		float: none;
		width: 90%;
		margin: 1%;
	}
	#dashboard-left {
		float: none;
		width: 100%;
	}

	#dashboard-right {
		float: none;
		width: 100%;
	}
}