/**
 * @version 	1.0.0
 * @package 	com_digicom
 * @author 		ThemeXpert
 * @copyright Copyright (c) 2010 - 2015 ThemeXpert Ltd. All rights reserved.
 * @license 	GNU/GPL license: http://www.gnu.org/copyleft/gpl.html
 */
.dc .row {
  padding-top: 0;
  padding-bottom: 0;
}
.dc img {
  max-width: 100%;
}
.dc .dc-cat-head {
  background: #fff;
  padding: 15px;
  margin: 0 15px 15px;
}
.dc .dc-cat-head h1 {
  font-size: 2em;
}
.dc .dc-cat-head .dc-cat-media {
  max-width: 30%;
}
.dc .dc-cat-head .tags {
  list-style: none;
  margin: 5px 0;
  padding: 0px;
}
.dc .dc-cat-head .tags.inline li {
  display: inline-block;
}
.dc .dc-cat-head .dc-cat-desc {
  margin: 10px 0;
}
.dc .dc-items .dc-item {
  position: relative;
}
.dc .dc-items .dc-item h2 {
  font-size: 1.6em;
  line-height: 1.2em;
}
.dc .dc-items .dc-item .dc-item-desc {
  margin: 0 0 15px;
}
.dc .label-featured {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 40px;
  width: 40px;
  background: url(../images/featured-badge.png) no-repeat 0 0;
  font-size: 0;
  text-indent: -9999px;
}
.dc .dc-item-in {
  background: #fff;
  padding: 15px;
  border-radius: 4px;
  position: relative;
  box-shadow: 0px 0px 2px #ddd;
}
.dc.dc-product .dc-product-title {
  margin: 10px 0 30px;
}
.dc.dc-product .dc-product-intro,
.dc.dc-product .dc-product-details {
  margin: 20px 0;
}
.dc.dc-product .dc-product-price {
  font-size: 30px;
  line-height: 1;
  padding-top: 5px;
}
.dc.dc-product .dc-product-info > ul > li {
  margin-bottom: 6px;
}
.dc.dc-product .tags {
  list-style: none;
  margin: 0;
  display: inline-block;
}
.dc.dc-product .tags li {
  display: inline-block;
  margin-left: 2px;
  padding: 0px;
}
.dc.dc-product .dc-addtocart-bar form {
  margin: 15px 0 0;
}
.dc .dc-bundle-products {
  background: #fff;
  border-radius: 4px;
  margin-top: 10px;
}
.dc .dc-bundle-products h3 {
  margin: 0;
  padding: 10px 20px;
  font-size: 17px;
  line-height: 1;
  text-transform: uppercase;
  border-bottom: 1px solid #e7e7e7;
}
.dc .dc-bundle-products > ul {
  list-style: none;
  margin: 0;
}
.dc .dc-bundle-products > ul > li {
  position: relative;
}
.dc .dc-bundle-products > ul > li:not(:last-child) {
  border-bottom: 1px solid #e7e7e7;
}
.dc .dc-bundle-products > ul > li a {
  padding: 6px 20px;
  display: block;
}
.dc .dc-bundle-products > ul > li a:hover {
  background: #fafafa;
}
.dc .dc-bundle-products > ul > li .badge {
  position: absolute;
  top: 7px;
  right: 10px;
}
.dc .form-horizontal .control-label {
  float: left;
  width: 160px;
}
.dc .form-horizontal .controls {
  margin-left: 180px;
}
.dc #jform_person {
  margin: 0px 0px 10px;
}
.dc #jform_person .btn {
  padding: 4px 12px;
}
.dc.dc-register .control-group .chzn-container {
  margin: 5px 0px 10px;
}
.dc .modal-body {
  max-height: none;
}
.dc select {
  font-size: initial;
}
.dc legend {
  line-height: 40px;
}
.text-center {
  text-align: center;
}
.dc .no-margin {
  margin: 0px;
}
.dc .no-padding {
  padding: 0px;
}
