
/* Style 4 */

a.sp-video:after {
	/* left: -1em; */
  -webkit-box-shadow: 0 0 2em rgba(255,255,255,.4);
  -moz-box-shadow: 0 0 2em rgba(255,255,255,.4);
  box-shadow: 0 0 2em rgba(255,255,255,.4);
}

.vjs-default-skin .vjs-big-play-button {
  width: 2.2em;
  height: 2.2em;
  left: 50%;
  margin-left: -1.2em;
  /* Center it vertically */
  top: 50%;
  margin-top: -1.3000000000000001em;
  /* background-color-with-alpha */
  background-color: #07141e;
  background-color:rgba(7,20,30,0.4);
  border: 2px solid #e0e0e0;
  border: 2px solid rgba(255,255,255,.4);
  /* border-radius */
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius:50%;
  /* box-shadow */
  -webkit-box-shadow: 0px 0px 1em rgba(255, 255, 255, 0.25);
  -moz-box-shadow: 0px 0px 1em rgba(255, 255, 255, 0.25);
  box-shadow: 0px 0px 1em rgba(255, 255, 255, 0.25);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.vjs-default-skin:hover .vjs-big-play-button,
.vjs-default-skin .vjs-big-play-button:focus {
  outline: 0;
  border-color: #f3f3f3;
  /* IE8 needs a non-glow hover state */
  background-color: #505050;
  background-color: rgba(10, 10, 10, 0.55);
  /* box-shadow */
  -webkit-box-shadow: 0 0 2em rgba(255,255,255,.7);
  -moz-box-shadow: 0 0 2em rgba(255,255,255,.7);
  box-shadow: 0 0 2em rgba(255,255,255,.7);
  /* transition */
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.vjs-default-skin .vjs-big-play-button:before {
  content: "\e001";
  font-family: VideoJS;
  /* In order to center the play icon vertically we need to set the line height to the same as the button height */
  line-height: 2.2em;
  text-shadow: 0.04em 0.04em 0.05em rgba(0,0,0,.3);
  text-align: center /* Needed for IE8 */;
  position: absolute;
  left: 0.12em;
  width: 100%;
  height: 100%;
}