.mcSignupModule {

}
.mcSignupModule .intro,
.mcSignupModule .outro {
    margin-bottom: 0.5em;
}

.mcSignupModule input[type="text"] {
	margin-bottom: 5px;
    width: 95%;
}

.mcSignupModule select {
	margin-bottom: 5px;
}

.mcSignupModule select.dayMonth {
    width: 70px;
}

.mcSignupModule input.phone {
    width: 40px;
}

.mcSignupModule .calendar {
	position: relative;
	left:3px;
	top:4px;
}

.mcSignupModule .ajaxLoader {
    display: none;
    background: url(../images/ajax-loader.gif) no-repeat 0 0;
    width: 64px;
    height: 64px;
    margin: auto;
}

